#wordpress-view {
  height: 100%;
  width: 100%;

  > .row {
    height: 100%;
  }
}

#wordpress-navigator {
  height: 100%;
  padding: 10px 0 10px 10px;

  overflow-x: hidden;
  overflow-y: auto;

  .panel {
    margin-bottom: 0;
  }

  input, button {
    height: 32px;
  }
}

#wordpress-content {
  height: ~"calc(100% - 50px)";
  padding: 10px;

  .panel {
    margin-bottom: 0;
  }

  .align-left{

  }
}

#wordpress-content-panel {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#wordpress-control-panel {
  margin-bottom: 7px;
  text-align: right;

  .btn-group {
    text-align: left;
  }
}