#wordpress-view.container-fluid
	div.row
		#wordpress-navigator.col-sm-3.col-lg-2
			div.page-header
				h4
					i.fa.fa-fw.fa-comments-o
					span 留言管理
					small &nbsp;&nbsp; Word Press

			div.list-group
				a.list-group-item.cursor-pointer
					span.badge.pull-right 3
					i.fa.fa-fw.fa-envelope-o
					span &nbsp; 待回复

				a.list-group-item.cursor-pointer
					i.fa.fa-fw.fa-inbox
					span &nbsp; 我的留言

				a.list-group-item.cursor-pointer
					i.fa.fa-fw.fa-folder-open-o
					span &nbsp; 所有留言

			//div.panel.panel-default
			//	div.panel-body
			//		button.btn.btn-default
			//			i.fa.fa-fw.fa-edit
			//			span &nbsp; 新建留言

			div.page-header
				h4
					i.fa.fa-fw.fa-search
					span 留言查询
					small &nbsp;&nbsp; Search

			div.panel.panel-default
				div.panel-body
					div.form-group
						label.control-label 留言主题:
						div.input-group
							input.form-control(type="text", placeholder="留言主题", ng-model="condition.topic")
							span.input-group-btn
								button.btn.btn-default(type="button", ng-click="clearField($event, 'condition.topic')")
									i.fa.fa-times.fa-fw

					div.form-group
						label.control-label 启始日期:
						div.input-group.date(date-field-model="condition.start_date")
							span.input-group-addon
								i.fa.fa-calendar
							input.form-control.datepicker(type="text", ng-disabled="condition.topic")

					div.form-group
						label.control-label 结束日期:
						div.input-group.date(date-field-model="condition.end_date")
							span.input-group-addon
								i.fa.fa-calendar
							input.form-control.datepicker(type="text", ng-disabled="condition.topic")

					div.form-group
						label.control-label 公司名称:
						div
							input.form-control(type="text", placeholder="公司名称", ng-model="condition.customer_name", auto-complete-field="customerFieldOptions", ng-disabled="condition.topic")

					div.form-group
						button.btn.btn-default.pull-right
							i.fa.fa-fw.fa-search
							span &nbsp; 查找

		#wordpress-content.col-sm-9.col-lg-10
			#wordpress-control-panel.page-header
				div.btn-group
					button.btn.btn-primary
						i.fa.fa-edit.fa-fw &nbsp;
						span 新建留言
					button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
						i.fa.fa-cog.fa-fw &nbsp;
						span 功能
						span.caret
					ul.dropdown-menu
						li
							a(ng-click="printDoc()")
								i.fa.fa-print.fa-fw &nbsp;
								span 打印

			#wordpress-content-panel(ng-switch="displayMode")
				div.panel.panel-default(ng-switch-when="list")
					div.panel-heading
						i.fa.fa-fw.fa-list
						span &nbsp;留言

					div.panel-body.table-responsive
						table.table.table-hover.table-bordered
							thead
								th 序号
								th 状态
								th 留言日期
								th 最近回复
								th 留言主题
								th 公司名称
								th 联系人
								th 担当人
							tbody
								tr.cursor-pointer(ng-repeat="row in wordpressList", ng-click="getWordpress(row)")
									td {{$index + 1}}
									td {{row.status}}
									td {{row.createdAt | date:'yyyy-MM-dd'}}
									td {{row.updatedAt | date:'yyyy-MM-dd'}}
									td {{row.topic}}
									td {{row.customer_name}}
									td {{row.customer_contact}}
									td {{row.owner}}

				div.panel.panel-default(ng-switch-when="detail")
					div.panel-heading
						label.control-label 咨询主题:
						span {{currentWordpress.topic}}

					div.panel-body
						div.container-fluid
							div.row
								div.form-group.col-sm-6
									label.col-sm-4.control-label 公司名称:
									div.col-sm-8 {{currentWordpress.customer_name}}
								div.form-group.col-sm-6
									label.col-sm-3.control-label 电话:
									div.col-sm-9 {{currentWordpress.customer_tel}}
							div.row
								div.form-group.col-sm-6
									label.col-sm-4.control-label 公司地址:
									div.col-sm-8 {{currentWordpress.customer_address}}
								div.form-group.col-sm-6
									label.col-sm-3.control-label 邮箱:
									div.col-sm-9 {{currentWordpress.customer_email}}
							div.row
								div.form-group.col-sm-6
									label.col-sm-4.control-label 联系人:
									div.col-sm-8 {{currentWordpress.customer_contact}}
								div.form-group.col-sm-6
									label.col-sm-3.control-label 担当人:
									div.col-sm-9 {{currentWordpress.owner}}
							hr

							div.wordpress-box(ng-repeat="item in currentWordpress.subItem")
								div.media
									a.pull-left
										img.media-object(ng-if="item.is_customer_word", src="/images/question_mark.jpg", height="80px", width="80px")
										img.media-object(ng-if="!item.is_customer_word", src="/images/logo.png", height="80px", width="80px")

									div.media-body
										h4
											span {{item.owner}}
											i.fa.fa-fw.fa-flag.pull-right.cursor-pointer
											i.fa.fa-fw.fa-copy.pull-right.cursor-pointer
											i.fa.fa-fw.fa-trash-o.pull-right.cursor-pointer
											i.fa.fa-fw.fa-edit.pull-right.cursor-pointer
										div.well {{item.content}}

								hr


