//Created by bli on 2014/8/21.
#wordpress-editor-form.modal-dialog.modal-lg
	div.modal-content
		div.modal-header
			button.close(type="button", data-dismiss="modal") &times;
			h4.modal-title 留言 &nbsp;
				small Wordpress
		div.modal-body.container-fluid
			div.row
				div.form-group.col-sm-4
					label.control-label 留言人:
					div
						input.form-control(type="text", ng-model="dialog_data_model.owner", disabled, required)
			div.row
				div.form-group.col-sm-12
					label.control-label 留言内容:
					div
						textarea.form-control(rows="5", placeholder="咨询事项", ng-model="dialog_data_model.content")

		div.modal-footer
			div.pull-left.alert-danger.panel(ng-show="prop.showErrorMessage")
				i.fa.fa-fw.fa-warning
				span 单据填写有误，请修正红色标记
			button.btn.btn-default(type="button", ng-click="Cancel()") 取消
			button.btn.btn-primary(type="button", ng-click="Confirm('update', true)") 确定
