#wordpress-view.container-fluid
	div.row
		#wordpress-navigator.col-sm-3
			div.page-header
				h4
					i.fa.fa-fw.fa-comments-o
					span 咨询留言
					small &nbsp;&nbsp; Word Press

			div.list-group
				a.list-group-item.cursor-pointer.active
					span.badge.pull-right 3
					i.fa.fa-fw.fa-envelope-o
					span &nbsp; 待回复

				a.list-group-item.cursor-pointer
					i.fa.fa-fw.fa-inbox
					span &nbsp; 我的留言

				a.list-group-item.cursor-pointer
					i.fa.fa-fw.fa-folder-open-o
					span &nbsp; 所有留言


		#wordpress-content.col-sm-9
			div.panel.panel-default
				div.panel-body
