
<!--Created by Bli on 2014/6/12.-->
<div id="reminder-detail-editor-form" ng-controller="reminderDetailEditorController" class="modal-dialog modal-lg">
  <div id="page0" ng-show="prop.paging==0" class="modal-content animate-show">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" class="close">&times;</button>
      <h4 class="modal-title">催款记录 &nbsp;<small>Reminder Management</small></h4>
    </div>
    <div class="modal-body container-fluid">
      <div class="table-responsive">
        <table id="reminder-detail-editor-table" class="table table-bordered">
          <thead>
            <tr>
              <th>付款期限</th>
              <th>服务内容</th>
              <th>付款金额</th>
              <th>发送日期</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="sub_item in dialog_data_model track by $index">
              <td>{{sub_item.reminder_due_date | date:'yyyy-MM-dd'}}</td>
              <td>{{sub_item.reminder_service}}</td>
              <td>{{sub_item.reminder_expense}}</td>
              <td>{{sub_item.reminder_sent| date:'yyyy-MM-dd'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <table-content-handler option="tableHandlerOption" model="dialog_data_model" table="#reminder-detail-editor-table"></table-content-handler>
    </div>
    <div class="modal-footer">
      <button type="button" ng-click="Cancel()" class="btn btn-default">取消</button>
      <button type="button" ng-click="Confirm('update', true)" ng-if="prop.mode==='edit'" class="btn btn-primary">保存</button>
    </div>
  </div>
  <div id="page1" ng-show="prop.paging==1" class="modal-content animate-show">
    <!--Created by Bohua on 2014-06-28.-->
    <div class="modal-header">
      <button type="button" data-dismiss="modal" class="close">&times;</button>
      <h4 class="modal-title">合同催款单 &nbsp;<small>Contract Reminder</small></h4>
    </div>
    <div class="modal-body container-fluid">
      <div id="reminder-preview-table" class="table-responsive">
        <table style="border: 1px solid #ddd; font-size: 12pt; font-family: 'Microsoft Yahei';" class="table table-bordered">
          <tbody>
            <tr>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>公司名称</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.customer_name}}</td>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>合同标的</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.contract_topic}}</td>
            </tr>
            <tr>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>签定日期</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.contract_date| date:'yyyy年MM月dd日'}}</td>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>合同期限</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.contract_due_date| date:'yyyy年MM月dd日'}}</td>
            </tr>
            <tr>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>服务内容</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;" colspan="4">{{sheetDetail.reminder_service}}</td>
            </tr>
            <tr>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>付款金额</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.reminder_expense}}</td>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>付款期限</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.reminder_due_date| date:'yyyy年MM月dd日'}}</td>
            </tr>
            <tr>
              <td style="border: 1px solid #ddd;padding: 8px;" colspan="2">
                <p><b>通知人:</b></p>
                <p>{{sheetDetail.sender}}</p>
              </td>
              <td style="border: 1px solid #ddd;padding: 8px;" colspan="2">
                <p><b>通知日期:</b></p>
                <p>{{sheetDetail.reminder_sent | date:'yyyy年MM月dd日'}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success copy-button">复制到剪贴板</button>
      <button type="button" ng-click="Back()" class="btn btn-default">返回</button>
    </div>
  </div>
</div>