
<!--Created by Bli on 2014/6/12.-->
<div id="reminder-editor-form" ng-controller="reminderEditorController" class="modal-dialog modal-lg">
  <form id="page0" ng-submit="Confirm('update', true)" ng-show="prop.paging==0" class="modal-content animate-show">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" class="close">&times;</button>
      <h4 class="modal-title">面谈预约通知单 &nbsp;<small> Details</small></h4>
    </div>
    <div class="modal-body container-fluid">
      <div class="row">
        <div class="form-group col-sm-6">
          <label class="control-label">公司名称:</label>
          <div>
            <input type="text" placeholder="公司名称" ng-model="dialog_data_model.customer_name" disabled="disabled" class="form-control"/>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label class="control-label">合同标的:</label>
          <div>
            <input type="text" placeholder="合同标的" ng-model="dialog_data_model.contract_topic" disabled="disabled" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label">签定日期:</label>
          <div date-field-model="dialog_data_model.contract_date" class="input-group date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" disabled="disabled" class="form-control datepicker"/>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label">合同期限:</label>
          <div date-field-model="dialog_data_model.contract_due_date" class="input-group date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" disabled="disabled" class="form-control datepicker"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3">
          <label class="control-label">服务内容:</label>
          <div>
            <input type="text" placeholder="服务内容" ng-model="dialog_data_model.reminder_service" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label">付款金额:</label>
          <div>
            <input type="text" placeholder="服务内容" ng-model="dialog_data_model.reminder_expense" required="required" class="form-control"/>
          </div>
        </div>
        <div class="form-group col-sm-3">
          <label class="control-label">付款期限:</label>
          <div date-field-model="dialog_data_model.reminder_due_date" class="input-group date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control datepicker"/>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" ng-click="Generate()" class="btn btn-success">预览</button>
      <button type="submit" class="btn btn-primary">保存</button>
      <button type="button" ng-click="Cancel()" class="btn btn-default">取消</button>
    </div>
  </form>
  <div id="page1" ng-show="prop.paging==1" class="modal-content animate-show">
    <!--Created by Bohua on 2014-06-28.-->
    <div class="modal-header">
      <button type="button" data-dismiss="modal" class="close">&times;</button>
      <h4 class="modal-title">合同催款单 &nbsp;<small>Contract Reminder</small></h4>
    </div>
    <div class="modal-body container-fluid">
      <div id="reminder-preview-table" class="table-responsive">
        <table style="border: 1px solid #ddd; font-size: 12pt; font-family: 'Microsoft Yahei';" class="table table-bordered">
          <tbody>
            <tr>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>公司名称</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.customer_name}}</td>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>合同标的</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.contract_topic}}</td>
            </tr>
            <tr>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>签定日期</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.contract_date| date:'yyyy年MM月dd日'}}</td>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>合同期限</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.contract_due_date| date:'yyyy年MM月dd日'}}</td>
            </tr>
            <tr>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>服务内容</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;" colspan="4">{{sheetDetail.reminder_service}}</td>
            </tr>
            <tr>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>付款金额</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.reminder_expense}}</td>
              <td style="border: 1px solid #ddd;padding: 8px;"><b>付款期限</b></td>
              <td style="border: 1px solid #ddd;padding: 8px;">{{sheetDetail.reminder_due_date| date:'yyyy年MM月dd日'}}</td>
            </tr>
            <tr>
              <td style="border: 1px solid #ddd;padding: 8px;" colspan="2">
                <p><b>通知人:</b></p>
                <p>{{sheetDetail.sender}}</p>
              </td>
              <td style="border: 1px solid #ddd;padding: 8px;" colspan="2">
                <p><b>通知日期:</b></p>
                <p>{{sheetDetail.reminder_sent | date:'yyyy年MM月dd日'}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success copy-button">复制到剪贴板</button>
      <button type="button" ng-click="Back()" class="btn btn-default">返回</button>
    </div>
  </div>
</div>