
<!--Created by Bohua on 2014-04-28.-->
<div id="customer-editor-form" ng-controller="customerEditorController" class="grid view-form-sheet">
  <fieldset keyboard-support="keyboard-support"><span class="item-title">公司信息</span>
    <comment class="text-muted margin15">Company Information</comment>
    <div class="expandable-section">
      <div class="row">
        <div class="span3">
          <label>名称</label>
          <div class="input-control text">
            <input type="text" placeholder="公司名称" ng-model="dialog_data_model.name" tab-start="tab-start" required="required" class="auto-focus"/>
            <!--button.btn-clear-->
          </div>
        </div>
        <div class="span7">
          <label>地址</label>
          <div class="input-control text">
            <input type="text" placeholder="公司地址" ng-model="dialog_data_model.address"/>
            <!--button.btn-clear-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <label>联系人</label>
          <div class="input-control text">
            <input type="text" placeholder="联系人" ng-model="dialog_data_model.contact"/>
            <!--button.btn-clear-->
          </div>
        </div>
        <div class="span2">
          <label>电话</label>
          <div class="input-control text">
            <input type="text" placeholder="电话" ng-model="dialog_data_model.tel"/>
            <!--button.btn-clear-->
          </div>
        </div>
        <div class="span2">
          <label>传真</label>
          <div class="input-control text">
            <input type="text" placeholder="传真" ng-model="dialog_data_model.fax"/>
            <!--button.btn-clear-->
          </div>
        </div>
        <div class="span4">
          <label>邮箱</label>
          <div class="input-control text">
            <input type="text" placeholder="公司邮箱" ng-model="dialog_data_model.email"/>
            <!--button.btn-clear-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span10">
          <label>备注</label>
          <div class="input-control text">
            <input type="text" placeholder="备注" ng-model="dialog_data_model.description"/>
            <!--button.btn-clear-->
          </div>
        </div>
      </div>
    </div><span class="item-title">业务配置</span>
    <comment class="text-muted margin15">Business Configuration</comment>
    <div class="expandable-section">
      <div class="row">
        <div class="span3">
          <label>担单人员</label>
          <div class="input-control select">
            <select ng-model="dialog_data_model.presenter">
              <option selected="selected"></option>
              <option ng-repeat="employee in employee_list" value="{{employee.id}}">{{employee.name}}</option>
            </select>
          </div>
        </div>
        <div class="span4">
          <label>业务捆绑</label>
          <div class="input-control checkbox">
            <label>
              <input type="checkbox" ng-model="dialog_data_model.privateFlag"/><span class="check"></span><span>绑定业务后, 公司信息只限担单本人使用</span>
            </label>
          </div>
        </div>
        <div class="span3">
          <label>会员折扣</label>
          <div class="input-control text">
            <input type="text" placeholder="会员折扣" ng-model="dialog_data_model.membership"/>
            <!--button.btn-clear-->
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-contol-panel">
      <div class="place-left">
        <button ng-click="delete()" ng-if="prop.mode=='edit'" class="button danger">删除</button>
      </div>
      <div class="form-actions">
        <button ng-click="Confirm('update', true)" class="button primary">保存</button>
        <button type="button" ng-click="Cancel()" class="button">取消</button>
      </div>
      <div ng-show="prop.showErrorMessage" class="place-right"><span class="fg-red margin20 bg-grayLighter">单据填写有误，请修正红色标记</span></div>
    </div>
  </fieldset>
</div>