
<!--Created by Bohua on 2014-04-28.--><span class="subheader">客户信息</span>
<hr/>
<div id="customer-detail-form" class="grid view-form-sheet">
  <fieldset keyboard-support="keyboard-support"><span class="item-title">公司信息</span>
    <comment class="text-muted margin15">Company Information</comment>
    <div class="expandable-section">
      <div class="row">
        <div class="span3">
          <label>公司名称</label>
          <div class="input-control text">
            <input type="text" placeholder="公司名称" ng-model="dialog_data_model.name" autofocus="autofocus" tab-start="tab-start"/>
            <button class="btn-clear"></button>
          </div>
        </div>
        <div class="span7">
          <label>公司地址</label>
          <div class="input-control text">
            <input type="text" placeholder="公司地址" ng-model="dialog_data_model.address"/>
            <button class="btn-clear"></button>
          </div>
        </div>
      </div>
    </div>
    <hr/>
  </fieldset>
</div>