//Created by Bli on 2014/4/28.
#customer-list-view
	div.page-header
		h2
			i.fa.fa-edit.fa-fw &nbsp;
			span 客户信息 &nbsp;
			small Customers

			button.btn.btn-default.pull-right(popup-dialog, dialog-config="customerEditorConfig",ng-click="newCustomer($event)")
				i.fa.fa-edit.fa-fw &nbsp;
				span 新建

			div.pull-right.col-md-3.col-lg-3.col-sm-3
				div.input-group
					input.form-control(type="text", placeholder="查找客户", ng-model="searchText")
					span.input-group-btn
						button.btn.btn-default
							i.fa.fa-search

	div.page-content
		div.panel.panel-default
			div.panel-heading.cursor-pointer
				h4.no-margin(data-toggle="collapse", href="#customer-list-panel") 客户列表 &nbsp;
					small Customer List
			#customer-list-panel.panel-collapse.collapse.in.table-responsive
				table.table.table-hover.table-bordered
					thead
						tr
							th.text-center(ng-repeat="header in headers track by $index", nowrap)
								t {{header}}
					tbody
						tr.cursor-pointer(
						ng-repeat="row in customer_list | filter:searchText",
						popup-dialog,
						dialog-config="customerEditorConfig",
						ng-click="detail($event, row)",
						on-confirm="confirmEmitted(action, data)"
						)
							td {{row.name}}
							td {{row.presenter}}
							td {{row.address}}
							td {{row.tel}}
							td {{row.contact}}

					//td.record-control-button-set
						button.hint--bottom(data-hint="详细", ng-click="detail($event, $index)")
							a: i.icon-clipboard-2.fg-darkBlue
						button.hint--bottom(data-hint="删除", ng-click="remove($event, $index)")
							a: i.icon-cancel-2.fg-darkRed
