#customer-editor-form.modal-dialog.modal-lg(ng-controller="customerEditorController")
	div.modal-content.grid
		div.modal-header
			button.close(type="button", data-dismiss="modal") &times;
			h4.modal-title 详细信息 &nbsp;
				small Details
		div.modal-body.row
			div.col-sm-6
				div.form-horizontal
					h4 公司信息 &nbsp;
						small Company Information
					hr

					div.form-group
						label.col-sm-3.control-label 名称:
						div.col-sm-9
							input.form-control(type="text", placeholder="公司名称", ng-model="dialog_data_model.name", required, ng-disabled="prop.mode=='readOnly'")

					div.form-group
						label.col-sm-3.control-label 地址:
						div.col-sm-9
							input.form-control(type="text", placeholder="公司地址", ng-model="dialog_data_model.address", ng-disabled="prop.mode=='readOnly'")

					div.form-group
						label.col-sm-3.control-label 联系人:
						div.col-sm-9
							input.form-control(type="text", placeholder="联系人", ng-model="dialog_data_model.contact", ng-disabled="prop.mode=='readOnly'")

					div.form-group
						label.col-sm-3.control-label 电话:
						div.col-sm-9
							input.form-control(type="text", placeholder="公司地址", ng-model="dialog_data_model.tel", ng-disabled="prop.mode=='readOnly'")

					div.form-group
						label.col-sm-3.control-label 传真:
						div.col-sm-9
							input.form-control(type="text", placeholder="传真", ng-model="dialog_data_model.fax", ng-disabled="prop.mode=='readOnly'")

					div.form-group
						label.col-sm-3.control-label 邮箱:
						div.col-sm-9
							input.form-control(type="text", placeholder="公司邮箱", ng-model="dialog_data_model.email", ng-disabled="prop.mode=='readOnly'")

					div.form-group
						label.col-sm-3.control-label 备注:
						div.col-sm-9
							textarea.form-control(rows="3", placeholder="备注", ng-model="dialog_data_model.description", ng-disabled="prop.mode=='readOnly'")

			div.col-sm-6
				div.form-horizontal
					h4 业务配置 &nbsp;
						small.hidden-xs.hidden-xs Business Configuration
					hr

					div.form-group
						label.col-sm-3.control-label 担当人:
						div.col-sm-9
							select.form-control(ng-model="dialog_data_model.employee_id", ng-options="employee.id as employee.name for employee in employee_list", ng-disabled="prop.mode=='readOnly'")

					div.form-group
						div.col-sm-9.col-sm-offset-3
							div.checkbox
								label
									input(type="checkbox", ng-disabled="prop.mode=='readOnly'")
									span 业务捆绑

					div.form-group
						label.col-sm-3.control-label 会员折扣:
						div.col-sm-9
							div.input-group
								input.form-control(type="text", placeholder="会员折扣", ng-model="dialog_data_model.membership", ng-disabled="prop.mode=='readOnly'")
								span.input-group-addon %

		div.modal-footer
			div.pull-left
				button.btn.btn-danger(ng-click="delete()", ng-if="prop.mode=='edit'") 删除

			div.pull-left.alert-danger.panel(ng-show="prop.showErrorMessage")
				i.fa.fa-fw.fa-warning
				span 单据填写有误，请修正红色标记

			button.btn.btn-default(type="button", ng-click="Cancel()") 取消
			button.btn.btn-primary(type="button", ng-click="Confirm('update', true)", ng-disabled="prop.mode=='readOnly'") 保存