//Created by Bli on 2014/4/28.
div.view-header
	i.icon-arrow-left-3.view-header-icon(ng-click="getBack()")
	span.subheader 咨询登记
	comment.text-muted.margin20 Consulting Registery
	div.view-header-control-button-set.place-right
		button.hint--bottom(data-hint="新建", ng-click="new($event)")
			a: i.icon-file
		button.hint--bottom(data-hint="查找", ng-click="search($event)")
			a: i.icon-search
		button.hint--bottom(data-hint="打印", ng-click="print($event)")
			a: i.icon-printer

div#customer-list.grid.view-form-sheet
	table.table.bordered.hovered
		thead
			tr
				th.text-center(ng-repeat="header in headers track by $index", nowrap)
					t {{header}}
		tbody
			tr(ng-repeat="row in customer_list track by $index")
				td.text-right(ng-repeat="cell in row track by $index", nowrap) {{cell}}
