//Created by Bohua on 2014-05-29.
div.page-header
	h2
		i.fa.fa-book.fa-fw &nbsp;
		span 提案 &nbsp;
		small Proposal
		div.btn-group.pull-right
			button.btn.btn-default
				i.fa.fa-edit.fa-fw &nbsp;
				span 修改

#proposal-panel-group.panel-group
	div.panel.panel-default
		div.panel-heading.cursor-pointer
			h4.no-margin(data-toggle="collapse", href="#proposal-abstract-panel") 提案要义 &nbsp;
				small Proposal Abstract
		#proposal-abstract-panel.panel-collapse.collapse.in
			div.flex-container.panel-body
				div.flex-box
					label 提案标的:
					span
				div.flex-box
					label 标的内容:
					span

	div.panel.panel-default
		div.panel-heading.cursor-pointer
			h4.no-margin(data-toggle="collapse", href="#proposal-properties-panel") 附属信息 &nbsp;
				small Proposal Properties
		#proposal-properties-panel.panel-collapse.collapse.in
			div.flex-container.panel-body
				div.flex-box
					label 提案人:
					span

				div.flex-box
					label 提案日期:
					span

				div.flex-box
					label 翻译人:
					span

	div.panel.panel-default
		div.panel-heading.cursor-pointer
			h4.no-margin(data-toggle="collapse", href="#proposal-attachment-panel") 附件列表 &nbsp;
				small Attachment List
		#proposal-attachment-panel.panel-collapse.collapse.in.table-responsive
			//div.flex-container.panel-body
				div.flex-box
					button.btn.btn-primary
						i.fa.fa-cloud-upload.fa-fw &nbsp;
						span 上传附件
			table.table.table-hover
				thead
					tr
						th 名称
						th 文件名
						th 文件类型
						th 文件大小
				tbody
					tr.cursor-pointer
						td 宪法章程
						td
							i.fa.fa-file-word-o.text-info.fa-fw &nbsp;
							span Xianfazhangcheng.docx
						td WORD文档
						td 12.8Kb

	div.panel.panel-default
		div.panel-heading.cursor-pointer
			h4.no-margin(data-toggle="collapse", href="#proposal-abstract-panel") 报价明细 &nbsp;
				small Price List
		#proposal-abstract-panel.panel-collapse.collapse.in.table-responsive
			table.table.table-hover
				thead
					tr
						th(nowrap) 服务内容
						th(nowrap) 服务时间
						th(nowrap) 服务费用
						th(nowrap) 交通费用
						th(nowrap) 公关费用
						th(nowrap) 小计
						th(nowrap) 附件
				tbody
					tr
						td 市场调查
						td 2014/05/05
						td 2100.00
						td 200.00
						td 220.00
						td 2520.00
						td
							div.attachment-token
								i.icon-file-excel
								span 发票2014-05-02 10:22.xlsx
								span 发票2014-05-02 10:22.xlsx
								span 发票2014-05-02 10:22.xlsx