//Created by Bohua on 2014-05-29.
div.container-fluid(ng-controller="proposalSectionController")
	div.page-header.row
		h2
			i.fa.fa-book.fa-fw &nbsp;
			span 提案 &nbsp;
			small.hidden-xs Proposal
			div.btn-group.pull-right
				button.btn.btn-default(ng-if="canEdit",popup-dialog,dialog-config="proposalEditorConfig",ng-click="showProposalEditor($event, getProposalModel())",on-confirm="onProposalSaved(action, data)")
					i.fa.fa-edit.fa-fw &nbsp;
					span 修改
				button.btn.btn-default(ng-if="canEdit",popup-dialog,dialog-config="attachEditorConfig",ng-click="showAttachEditor($event, getAttachModel())",on-confirm="onAttachSaved(action, data)")
					i.fa.fa-paperclip.fa-fw &nbsp;
					span 附件
				button.btn.btn-default(ng-if="canEdit",popup-dialog,dialog-config="detailEditorConfig",ng-click="showDetailEditor($event, getDetailModel())",on-confirm="onDetailSaved(action, data)")
					i.fa.fa-list-alt.fa-fw &nbsp;
					span 明细
				button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
					i.fa.fa-cog.fa-fw &nbsp;
					span 功能
					span.caret
				ul.dropdown-menu
					li
						a
							i.fa.fa-print.fa-fw &nbsp;
							span 打印

	#proposal-panel-group.panel-group.row
		div.panel.panel-default
			div.panel-heading.cursor-pointer
				h4.no-margin(data-toggle="collapse", href="#proposal-abstract-panel") 提案要义 &nbsp;
					small.hidden-xs Proposal Abstract
			#proposal-abstract-panel.panel-collapse.collapse.in
				div.flex-container.panel-body
					div.flex-box
						label 提案标的:
						span {{task_model.proposalSheet.proposal_topic}}
					div.flex-box
						label 标的内容:
						span {{task_model.proposalSheet.proposal_content}}

		div.panel.panel-default
			div.panel-heading.cursor-pointer
				h4.no-margin(data-toggle="collapse", href="#proposal-properties-panel") 附属信息 &nbsp;
					small.hidden-xs Proposal Properties
			#proposal-properties-panel.panel-collapse.collapse.in
				div.flex-container.panel-body
					div.flex-box
						label 提案人:
						span {{task_model.proposalSheet.proposal_person}}

					div.flex-box
						label 提案日期:
						span {{task_model.proposalSheet.proposal_date | date:'yyyy-MM-dd'}}

					div.flex-box
						label 翻译人:
						span {{task_model.proposalSheet.proposal_translator}}

		div.panel.panel-default
			div.panel-heading.cursor-pointer
				h4.no-margin(data-toggle="collapse", href="#proposal-attachment-panel") 附件列表 &nbsp;
					small.hidden-xs Attachment List
			#proposal-attachment-panel.panel-collapse.collapse.in.table-responsive
				table.table.table-hover.table-bordered
					thead
						tr
							th 文件名
							th 文件类型
							th 文件大小
							th 上传日期
					tbody
						tr.cursor-pointer(ng-repeat="item in task_model.proposalSheet.attachment")
							td
								a.attachment-token.label(download="item.file_name", ng-href="file-download/{{item.file_url}}")
									i.fa.text-info.fa-fw(class="{{translateFileType(item.file_ext).icon}}") &nbsp;
									span {{item.file_name}}
							td {{translateFileType(item.file_ext).type}}
							td {{item.file_size}}
							td {{item.createdAt | date:'yyyy-MM-dd'}}


		div.panel.panel-default
			div.panel-heading.cursor-pointer
				h4.no-margin(data-toggle="collapse", href="#proposal-price-panel") 报价明细 &nbsp;
					small.hidden-xs Price List
			#proposal-price-panel.panel-collapse.collapse.in.table-responsive
				table.table.table-hover.table-bordered
					thead
						tr
							th 服务内容
							th 服务时间
							th 服务费用
							th 交通费用
							th 公关费用
							th 小计
							th 附件
					tbody
						tr(ng-repeat="sub_item in task_model.proposalSheet.subItem")
							td {{sub_item.service}}
							td {{sub_item.date| date:'yyyy-MM-dd'}}
							td {{sub_item.expense}}
							td {{sub_item.traffic}}
							td {{sub_item.extra}}
							td {{sub_item.expense + sub_item.traffic + sub_item.extra}}
							td
								a.attachment-token.label.cursor-pointer(ng-repeat="attach in sub_item.attachment", download="attach.file_name", ng-href="file-download/{{attach.file_url}}")
									i.fa.text-info.fa-fw(class="{{translateFileType(attach.file_ext).icon}}") &nbsp;
									span {{attach.file_name}}