//Created by bli on 2014/5/9.
#register-editor-form.modal-dialog.modal-lg(ng-controller="registerEditorController")
	div.modal-content
		div.modal-header
			button.close(type="button", data-dismiss="modal") &times;
			h4.modal-title 任务登记 &nbsp;
				small Task Register
		div.modal-body.container-fluid
			h4 任务信息 &nbsp;
				small Task Information
			hr
			div.row
				div.form-group.col-sm-6
					label.control-label 任务名:
					div
						input.form-control(type="text", placeholder="任务名", ng-model="dialog_data_model.slogan", required)
				div.form-group.col-sm-4
					label.control-label 担当人:
					div
						input.form-control(type="text", placeholder="任务名", ng-model="dialog_data_model.assignee", token-field)
				div.form-group.col-sm-2
					label.control-label 处理方式:
					div
						select.form-control(ng-model="dialog_data_model.handling")
							option(value="", selected) 选择方式
							option(value="0") 回复解答
							option(value="1") 提案解答

			h4 公司信息 &nbsp;
				small.hidden-xs.hidden-xs Company Information
			hr
			div.form-inline
				div.form-group
					label.control-label 公司名称:
					div
						input.form-control(type="text", placeholder="公司名称", ng-model="dialog_data_model.customer_name")
				div.form-group
					label.control-label 联系人:
					div
						input.form-control(type="text", placeholder="联系人", ng-model="dialog_data_model.customer_contact")
				div.form-group
					label.control-label 电话:
					div
						input.form-control(type="text", placeholder="电话", ng-model="dialog_data_model.customer_tel")

		div.modal-footer
			div.pull-left
				button.btn.btn-danger(ng-click="empty()", ng-if="prop.mode=='edit'") 清空
			div.pull-left.alert-danger.panel(ng-show="prop.showErrorMessage")
				i.fa.fa-fw.fa-warning
				span 单据填写有误，请修正红色标记
			button.btn.btn-default(type="button", ng-click="Cancel()") 取消
			button.btn.btn-primary(type="button", ng-click="Confirm('update', true)") 保存