.fg-darkRed {
  color: #740000;
}
.fg-white {
  color: #ffffff;
}
@font-face {
  font-family: 'iconFont';
  src: url('/fonts/iconFont.eot');
  src: local('/fonts/iconFont'), local('/fonts/iconFont'), url("/fonts/iconFont.woff") format("woff"), url("/fonts/iconFont.otf") format("opentype"), url("/fonts/iconFont.svg") format("svg");
}
@font-face {
  font-family: 'glyphicons halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: local('/fonts/glyphicons-halflings-regular'), local('/fonts/glyphicons-halflings-regular'), url("/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/fonts/glyphicons-halflings-regular.otf") format("opentype"), url("/fonts/glyphicons-halflings-regular.svg") format("svg");
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(225, 225, 225, 0.1);
}
span,
legend,
label,
input,
select,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Microsoft Yahei' !important;
}
/*
input, select, textarea {
  &:hover:not(.token-input) {
    border: 1px solid @grey-darker !important;
  }
}
*/
th {
  color: #274b6d;
}
.input-control button {
  box-shadow: none !important;
}
.input-control button:hover {
  color: #696969 !important;
}
.place-right {
  float: right;
}
.place-left {
  float: left;
}
.no-margin {
  margin: 0;
}
.margin5 {
  margin: 5px;
}
.margin5.v-only {
  margin-left: 0;
  margin-right: 0;
}
.margin5.h-only {
  margin-top: 0;
  margin-bottom: 0;
}
.margin10 {
  margin: 10px;
}
.margin10.v-only {
  margin-left: 0;
  margin-right: 0;
}
.margin10.h-only {
  margin-top: 0;
  margin-bottom: 0;
}
.margin15 {
  margin: 15px;
}
.margin15.v-only {
  margin-left: 0;
  margin-right: 0;
}
.margin15.h-only {
  margin-top: 0;
  margin-bottom: 0;
}
.margin20 {
  margin: 20px;
}
.margin20.v-only {
  margin-left: 0;
  margin-right: 0;
}
.margin20.h-only {
  margin-top: 0;
  margin-bottom: 0;
}
.subheader {
  font-size: 12pt;
}
.cursor-pointer {
  cursor: pointer;
}
thead {
  background-color: #eeeeee;
  border-top: 1px solid #d9d9d9;
}
th {
  white-space: nowrap;
}
.label {
  font-size: 12pt;
  font-weight: normal;
}
.cursor-pointer {
  cursor: pointer;
}
.modal-footer .alert-danger {
  padding: 5px 20px;
  margin: 0;
}
.modal-dialog textarea {
  resize: vertical;
}
.ui-helper-hidden-accessible {
  position: absolute;
  left: -999em;
}
.ui-autocomplete {
  z-index: 9999;
  background-color: #ffffff;
  border-radius: .25em;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  width: calc(100% - 30px);
}
.ui-autocomplete .ui-menu-item {
  font-family: 'Microsoft Yahei';
  cursor: pointer;
}
.ui-autocomplete .ui-menu-item .ui-corner-all {
  color: #4d4d4d;
  border-radius: .25em;
}
.ui-autocomplete .ui-menu-item .ui-state-focus {
  background-color: #428bca;
  color: #ffffff;
}
.tooltip {
  z-index: 2000 !important;
}
.modal-dialog .table-responsive {
  overflow-x: auto;
}
.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 30px;
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}
.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
t {
  font-family: 'Microsoft Yahei' !important;
}
.bleach-stage {
  position: relative;
}
.bleach-content {
  position: relative;
  top: -50px;
  padding-top: 50px;
  width: 100%;
  height: 100%;
}
.dropdown-menu li:hover:not(.divider) {
  background: #428bca !important;
  border-color: #428bca !important;
}
.dropdown-menu i,
.dropdown-menu t {
  color: #4d4d4d !important;
}
#right-stage {
  width: 100%;
  z-index: 10;
  height: calc(100% - 50px);
}
#view-port {
  overflow: hidden;
  height: 100%;
  background-color: #ffffff;
}
body {
  background: url('/images/bg.jpg');
}
.jumbotron {
  text-align: center;
  width: 30rem;
  height: 42rem;
  border-radius: 0.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: 4% auto;
  background-color: #fff;
  padding: 2rem;
}
.jumbotron img {
  width: 100%;
}
.jumbotron input {
  font-size: 12pt;
  width: 100%;
  margin-bottom: 1.4rem;
  padding: 1rem;
  background-color: #ecf2f4;
  border-radius: 0.2rem;
  border: none;
}
.jumbotron h2 {
  margin-bottom: 3rem;
  color: #ababab;
}
.jumbotron .btn {
  border-radius: 0.2rem;
}
.jumbotron .btn .glyphicon {
  font-size: 3rem;
  color: #fff;
}
.jumbotron .full-width {
  width: 100%;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.jumbotron .box {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.jumbotron label {
  text-align: left;
}
#top-bar,
.top-bar-wrapper {
  position: relative;
  z-index: 300;
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  box-shadow: 1px 1px 1px #eeeeee;
}
#left-menu-switcher {
  height: 50px;
}
#left-menu-switcher i {
  vertical-align: 5%;
  margin-left: 10px;
}
@media (min-width: 992px), (min-width: 992px), (min-width: 768px) {
  #task-searcher {
    width: 25%;
    float: right;
  }
}
#left-stage {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #eeeeee;
  border-right: 1px solid #d9d9d9;
  z-index: 1000;
  /*
    &:not(.narrow-menu){
      overflow-y: auto;
      overflow-x: hidden;
    }
  */
}
#left-stage .pop-left-button {
  top: -34px;
  right: -12px;
  position: relative;
  font-size: 25pt;
  cursor: pointer;
}
#left-stage nav {
  background-color: #eeeeee;
  border: none;
}
#left-stage li.title {
  background-color: #eeeeee;
  color: #4d4d4d;
  height: 50px !important;
  border-bottom: 1px solid #d9d9d9;
}
#left-stage a:not([href]) {
  cursor: context-menu;
}
#left-stage a:hover {
  background-color: #428bca;
}
#left-stage .sidebar-menu > a:not(:hover) {
  background-color: #eeeeee;
}
#left-stage .sidebar-menu > ul.hide-submenu {
  height: 0;
  opacity: 0;
}
#left-stage .sidebar-sub-menu > a:not(:hover) {
  background: none;
}
#left-menu-switcher {
  color: #ffffff;
  font-size: 35px !important;
  cursor: pointer;
}
.side-menu-header {
  position: relative;
  top: -8px;
}
.narrow-menu li.title > div {
  display: none;
}
.narrow-menu > nav > ul > li > a {
  padding-left: 12px !important;
}
.narrow-menu > nav > ul > li > a:after {
  display: none;
}
.narrow-menu > nav > ul > li > a > i {
  font-size: 25px !important;
}
.narrow-menu > nav > ul > li > a > t {
  display: none;
}
.narrow-menu > nav > ul > li:hover {
  height: 47px;
}
.narrow-menu > nav > ul > li:hover > ul {
  top: -46px;
  display: block !important;
}
.narrow-menu li > ul {
  left: 50px;
  width: 200px !important;
  border: 1px solid #d9d9d9 !important;
}
.narrow-menu li > ul i {
  font-size: 15px;
}
/**
 * Created by Bli on 14-3-6.
 */
.form-actions {
  float: right;
}
.form-actions button {
  margin-left: 10px;
}
.window .content {
  height: calc(100% - 50px) !important;
}
.window .content .view-form-sheet {
  height: 100%;
  margin-bottom: 0;
}
.window .view-form-sheet {
  padding: 0;
  height: inherit;
}
.window .view-form-sheet .tab-control {
  height: auto;
}
.window .view-form-sheet .tab-control .frame {
  padding: 10px 10px 0 10px;
}
.window .dialog-contol-panel {
  width: 100%;
}
.window .dialog-content-panel {
  height: calc(100% - 50px);
}
.window .btn-close {
  margin: 0;
}
#preload-mask {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}
#preload-mask .loader-title {
  position: relative;
  font-size: 100px;
  text-align: center;
  top: calc(50% - 94px);
  width: 100%;
}
#preload-mask .loader-title > span {
  text-shadow: 0 0 300px;
}
#preload-mask .loader-title > span i {
  color: #aa4643;
}
#preload-mask .loader-title > span span {
  color: #4d4d4d;
  font-family: 'Audiowide', cursive !important;
  text-shadow: 0 0 4px #ffffff;
}
#preload-mask .loader-title .login-button {
  background-color: #4d4d4d;
  color: rgba(248, 248, 248, 0.5);
}
#preload-mask .loader-title .login-button:hover {
  color: #ffffff;
}
#screen-mask {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #4d4d4d;
  opacity: 0.5;
}
#dashboard {
  height: 100%;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 5px;
}
#dashboard > .row {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  display: -webkit-box;
}
#dashboard .task-group {
  height: 100%;
  padding: 3px;
  min-width: 100%;
}
@media (min-width: 992px), (min-width: 992px), (min-width: 768px) {
  #dashboard .task-group {
    min-width: inherit;
  }
}
#dashboard .task-group .panel {
  height: 100%;
  margin-bottom: 0;
}
.dashboard-title {
  height: 40px;
  padding: 6px 20px;
}
.dashboard-title > i,
.dashboard-title > span {
  font-size: 15pt;
  margin-top: 10px;
}
#task-editor-form {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 53px);
}
#task-editor-form .row {
  height: 100%;
}
#task-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
#task-content section {
  padding-bottom: 50px;
}
#task-content section:last-child {
  min-height: 600px;
}
#task-side-nav {
  padding-top: 10px;
}
#task-side-nav a {
  font-size: 20px;
  color: #4d4d4d;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 1px 30px 1px 7px;
  margin-bottom: 10px;
  border: 2px solid transparent;
  background: none;
  /*&:hover:not(.active):not(.disabled) {
      border: 2px solid @gray-light;
      background-color: @gray-lighter;
    }*/
}
#task-side-nav a.active {
  border: 2px solid #428bca;
  background-color: #eeeeee;
}
#task-side-nav a.disabled {
  cursor: not-allowed;
  color: #999999;
  /*&:hover {
        background: none;
      }*/
}
#task-side-nav a.finished i {
  color: #428bca;
}
#task-side-nav a.finished .progress-line {
  background: #428bca;
}
#task-side-nav a.ongoing .progress-line {
  background: #999999;
}
#task-side-nav .task-progress-indicator {
  margin-right: 20px;
}
#task-side-nav .progress-line {
  width: 4px;
  height: 27px;
  position: absolute;
  background: #999999;
  left: 14px;
  top: 23px;
  z-index: 999;
}
.task-header {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.task-header h3 {
  margin-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-header h3 small {
  margin-left: 10px;
}
.task-topic {
  font-size: 14pt;
  line-height: 22px;
  position: absolute;
  top: 15px;
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex-container {
  display: flex;
  font-size: 12pt;
  flex-wrap: wrap;
}
.flex-container .flex-box {
  display: flex;
  min-width: 270px;
  margin-bottom: 5px;
}
@media (min-width: 992px), (min-width: 992px), (min-width: 768px) {
  .flex-container .flex-box {
    margin-right: 50px;
  }
}
.flex-container .flex-box label {
  margin-right: 20px;
  white-space: nowrap;
  min-width: 80px;
}
.flex-container .flex-box span {
  margin-right: 10px;
}
#task-footer {
  height: 120px;
  width: 100%;
  border-top: 1px solid #999999;
  margin: 100% 0 0 0;
  flex-wrap: nowrap;
  padding: 0px 20px 10px 0px;
  align-items: baseline;
}
#task-footer h5 {
  white-space: nowrap;
}
#task-footer .company-copy-right {
  position: relative;
  top: 20px;
}
.attachment-token {
  font-size: 11pt;
  background-color: #0067b0;
  color: #ffffff;
  margin-right: 10px;
  font-weight: normal;
}
td[edit-disabled] {
  cursor: not-allowed;
}
#attach-editor-form {
  /*
  tr.active {
    display: block;
    white-space: nowrap;
  }

  .control-buttons {
    display: none;

    position: relative;
    height: 0;
    width: 0;

    right: 50px;
    top: -4px;

    button{
      height: 29px;
      padding: 3px 10px;
    }
  }
  */
}
#customer-list-view {
  padding: 0 20px;
}
#customer-editor-form textarea {
  resize: none;
}
#employee-list-view {
  padding: 0 20px;
}
#employee-editor-form textarea {
  resize: none;
}
file-upload-field .fileupload {
  position: absolute;
  left: -9999px;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22public%2Fsrc%2Ftheme%2Fglobal-settings.less%22%2C%22public%2Fsrc%2Ftheme%2Ficon-input-component.less%22%2C%22public%2Fsrc%2Fplatform%2Findex%2Findex.less%22%2C%22public%2Fsrc%2Fplatform%2Fsign-in%2Fsign-in.less%22%2C%22public%2Fsrc%2Fplatform%2Ftop-bar%2Ftop-bar.less%22%2C%22public%2Fsrc%2Fplatform%2Fleft-menu-pop%2Fleft-menu-pop.less%22%2C%22public%2Fsrc%2Fplatform%2Fpopup-dialog%2Fpopup-dialog.less%22%2C%22public%2Fsrc%2Fplatform%2Fpreload-mask%2Fpreload-mask.less%22%2C%22public%2Fsrc%2Fplatform%2Fscreen-mask%2Fscreen-mask.less%22%2C%22public%2Fsrc%2Fpartials%2Fdashboard%2Fdashboard.less%22%2C%22public%2Fsrc%2Fpartials%2Ftask-editor%2Ftask-editor.less%22%2C%22public%2Fsrc%2Fpartials%2Fdetail-editor%2Fdetail-editor.less%22%2C%22public%2Fsrc%2Fpartials%2Fattach-editor%2Fattach-editor.less%22%2C%22public%2Fsrc%2Fpartials%2Fconfig%2Fcustomer%2Fcustomer-list.less%22%2C%22public%2Fsrc%2Fpartials%2Fconfig%2Femployee%2Femployee-list.less%22%2C%22public%2Fsrc%2Fglobal-directives%2Ffile-upload-field-directive%2Ffile-upload-field.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAiCA%3BEACE%2CcAAA%3B%3BAAGF%3BEACE%2CcAAA%3B%3BAAaF%3BEACE%2CaAAa%2CUAAb%3BEACA%2CSAAS%2CsBAAT%3BEACA%2CKAAK%2CMAAM%2CoBAAoB%2CMAAM%2CwBAAwB%2CwBAAwB%2COAAO%2CaAAa%2CuBAAuB%2COAAO%2CiBAAiB%2CuBAAuB%2COAAO%2CMAAtL%3B%3BAAGF%3BEACE%2CaAAa%2CsBAAb%3BEACA%2CSAAS%2C0CAAT%3BEACA%2CKAAK%2CMAAM%2CwCAAwC%2CMAAM%2C4CAA4C%2C4CAA4C%2COAAO%2CaAAa%2C2CAA2C%2COAAO%2CiBAAiB%2C2CAA2C%2COAAO%2CMAA1R%3B%3BAAGF%3BEACE%2CYAAA%3BEACA%2CWAAA%3BEACA%2CgBAAA%3B%3BAAGF%3BEACE%2CWAAA%3BEACA%2CYAAA%3BEACA%2CcAAA%3BEACA%2C0CAAA%3B%3BAAGF%3BAAAM%3BAAAQ%3BAAAO%3BAAAO%3BAAAQ%3BAAAG%3BAAAI%3BAAAI%3BAAAI%3BAAAI%3BAAAI%3BEACzD%2CaA5BK%2CiBA4BL%3B%3B%3B%3B%3B%3B%3B%3B%3BAASF%3BEACE%2CcAAA%3B%3BAAGF%2CcAAe%3BEACb%2C2BAAA%3B%3BAACA%2CcAFa%2COAEZ%3BEACC%2CcAAA%3B%3BAAIJ%3BEACE%2CYAAA%3B%3BAAGF%3BEACE%2CWAAA%3B%3BAAGF%3BEACE%2CSAAA%3B%3BAAGF%3BEACE%2CWAAA%3B%3BAAEA%2CQAAC%3BEACC%2CcAAA%3BEACA%2CeAAA%3B%3BAAGF%2CQAAC%3BEACC%2CaAAA%3BEACA%2CgBAAA%3B%3BAAIJ%3BEACE%2CYAAA%3B%3BAAEA%2CSAAC%3BEACC%2CcAAA%3BEACA%2CeAAA%3B%3BAAGF%2CSAAC%3BEACC%2CaAAA%3BEACA%2CgBAAA%3B%3BAAIJ%3BEACE%2CYAAA%3B%3BAAEA%2CSAAC%3BEACC%2CcAAA%3BEACA%2CeAAA%3B%3BAAGF%2CSAAC%3BEACC%2CaAAA%3BEACA%2CgBAAA%3B%3BAAIJ%3BEACE%2CYAAA%3B%3BAAEA%2CSAAC%3BEACC%2CcAAA%3BEACA%2CeAAA%3B%3BAAGF%2CSAAC%3BEACC%2CaAAA%3BEACA%2CgBAAA%3B%3BAAIJ%3BEACE%2CeAAA%3B%3BAAGF%3BEACE%2CeAAA%3B%3BAAGF%3BEACE%2CyBAAA%3BEACA%2C6BAAA%3B%3BAAGF%3BEACE%2CmBAAA%3B%3BAAGF%3BEACE%2CeAAA%3BEACA%2CmBAAA%3B%3BAAIF%3BEACE%2CeAAA%3B%3BAAGF%2CaAAc%3BEACZ%2CiBAAA%3BEACA%2CSAAA%3B%3BAAGF%2CaACE%3BEACE%2CgBAAA%3B%3BAAKJ%3BEAA%2BB%2CkBAAA%3BEAAoB%2CYAAA%3B%3BAACnD%3BEACE%2CaAAA%3BEACA%2CyBAAA%3BEACA%2CoBAAA%3BEACA%2CyBAAA%3BEACA%2CsBAAA%3BEAEA%2CwBAAA%3B%3BAAPF%2CgBASE%3BEACE%2CaAtKG%2CiBAsKH%3BEACA%2CeAAA%3B%3BAAXJ%2CgBASE%2CcAIE%3BEACE%2CcAAA%3BEACA%2CoBAAA%3B%3BAAfN%2CgBASE%2CcASE%3BEACE%2CyBAAA%3BEACA%2CcAAA%3B%3BAAKN%3BEACE%2CwBAAA%3B%3BAAGF%2CaAAc%3BEACZ%2CgBAAA%3B%3BAC3OF%3BEACE%2CkBAAA%3B%3BAAEF%2CiBAAkB%3BEAChB%2CkBAAA%3B%3BAAEF%2CiBAAkB%3BEAChB%2CkBAAA%3BEACA%2CkBAAA%3BEACA%2CoBAAA%3B%3BAAGF%3BEACE%2CkBAAA%3B%3BAAEF%2CkBAAmB%3BEACjB%2CmBAAA%3B%3BAAEF%2CkBAAmB%3BEACjB%2CkBAAA%3BEACA%2CUAAA%3BEACA%2CkBAAA%3BEACA%2CoBAAA%3B%3BACtBF%3BEACE%2CsBAAA%3BEACA%2CwBAAA%3BEACA%2CyBAAA%3B%3B%3B%3B%3BEAMA%2CqBAAA%3BEACA%2CiBAAA%3B%3BAAGF%3BEACE%2CaFmCK%2CiBEnCL%3B%3BAAGF%3BEACE%2CkBAAA%3B%3BAAGF%3BEACE%2CkBAAA%3BEACA%2CUAAA%3BEACA%2CiBAAA%3BEAEA%2CWAAA%3BEACA%2CYAAA%3B%3BAAIF%2CcAGE%2CGAAE%2CMAAM%2CIAAI%3BEACV%2CmBAAA%3BEACA%2CqBAAA%3B%3BAALJ%2CcAQE%3BAARF%2CcAQK%3BEACD%2CcAAA%3B%3BAAKJ%3BEACE%2CWAAA%3BEACA%2CWAAA%3BEACA%2CyBAAA%3B%3BAAGF%3BEACE%2CgBAAA%3BEACA%2CYAAA%3BEACA%2CyBAAA%3B%3BACtDF%3BEACE%2CgBAAgB%2CiBAAhB%3B%3BAAGF%3BEACE%2CkBAAA%3BEACA%2CYAAA%3BEACA%2CaAAA%3BEACA%2CqBAAA%3BEACA%2CMAAA%3BEACA%2CSAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CkBAAA%3BEACA%2CeAAA%3BEACA%2CsBAAA%3BEACA%2CaAAA%3B%3BAAZF%2CUAcE%3BEACE%2CWAAA%3B%3BAAfJ%2CUAkBE%3BEACE%2CeAAA%3BEACA%2CWAAA%3BEACA%2CqBAAA%3BEACA%2CaAAA%3BEACA%2CyBAAA%3BEACA%2CqBAAA%3BEACA%2CYAAA%3B%3BAAzBJ%2CUA2BE%3BEACE%2CmBAAA%3BEACA%2CcAAA%3B%3BAA7BJ%2CUA%2BBE%3BEACE%2CqBAAA%3B%3BAAhCJ%2CUAkCE%2CKAAK%3BEACH%2CeAAA%3BEACA%2CWAAA%3B%3BAApCJ%2CUAsCE%3BEACE%2CWAAA%3BEACA%2CkCAAA%3BEACA%2CqCAAA%3BEACA%2C8BAAA%3BEACA%2CiCAAA%3BEACA%2C0BAAA%3BEACA%2C6BAAA%3B%3BAA7CJ%2CUAgDE%3BEACE%2CkBAAA%3BEACA%2CSAAA%3BEACA%2COAAA%3BEACA%2CmBAAA%3BEACA%2CiBAAA%3BEACA%2CkBAAA%3B%3BAAtDJ%2CUAyDE%3BEACE%2CgBAAA%3B%3BAC9DJ%3BAAAU%3BEACR%2CkBAAA%3BEACA%2CYAAA%3BEACA%2CYAAA%3BEACA%2CWAAA%3BEACA%2CyBAAA%3BEACA%2CgCAAA%3BEACA%2CSAAA%3BEACA%2C%2BBAAA%3B%3BAAGF%3BEACE%2CYAAA%3B%3BAADF%2CmBAGE%3BEACE%2CkBAAA%3BEACA%2CiBAAA%3B%3BAAUJ%2CQAJ2B%2CoBAAqB%2CoBAAoB%3BEAIpE%3BIAHI%2CUAAA%3BIACA%2CYAAA%3B%3B%3BACxBJ%3BEACE%2CkBAAA%3BEACA%2CMAAA%3BEACA%2CYAAA%3BEACA%2CYAAA%3BEACA%2CYAAA%3BEACA%2CyBAAA%3BEACA%2C%2BBAAA%3BEAEA%2CaAAA%3B%3B%3B%3B%3B%3B%3B%3BAATF%2CWAgBE%3BEACE%2CUAAA%3BEACA%2CYAAA%3BEACA%2CkBAAA%3BEACA%2CeAAA%3BEACA%2CeAAA%3B%3BAArBJ%2CWAwBE%3BEACE%2CyBAAA%3BEACA%2CYAAA%3B%3BAA1BJ%2CWA6BE%2CGAAE%3BEACA%2CyBAAA%3BEACA%2CcAAA%3BEACA%2CuBAAA%3BEACA%2CgCAAA%3B%3BAAjCJ%2CWAoCE%2CEAAC%2CIAAI%3BEACH%2CoBAAA%3B%3BAArCJ%2CWAwCE%2CEAAC%3BEACC%2CyBAAA%3B%3BAAzCJ%2CWA4CE%2CcACE%2CIAAG%2CIAAI%3BEACL%2CyBAAA%3B%3BAAKA%2CWAPJ%2CcAIE%2CKAGG%3BEACC%2CSAAA%3BEACA%2CUAAA%3B%3BAArDR%2CWA0DE%2CkBACE%2CIAAG%2CIAAI%3BEACL%2CgBAAA%3B%3BAAKN%3BEACE%2CcAAA%3BEACA%2C0BAAA%3BEACA%2CeAAA%3B%3BAAGF%3BEACE%2CkBAAA%3BEACA%2CSAAA%3B%3BAAGF%2CYACE%2CGAAE%2CMACA%3BEACE%2CaAAA%3B%3BAAHN%2CYAOE%2CMAAM%2CKAAK%2CKACT%3BEACE%2C6BAAA%3B%3BAAEA%2CYAJJ%2CMAAM%2CKAAK%2CKACT%2CIAGG%3BEACC%2CaAAA%3B%3BAAZR%2CYAOE%2CMAAM%2CKAAK%2CKACT%2CIAOE%3BEACE%2C0BAAA%3B%3BAAhBR%2CYAOE%2CMAAM%2CKAAK%2CKACT%2CIAWE%3BEACE%2CaAAA%3B%3BAAKJ%2CYAlBF%2CMAAM%2CKAAK%2CKAkBR%3BEACC%2CYAAA%3B%3BAADF%2CYAlBF%2CMAAM%2CKAAK%2CKAkBR%2CMAGC%3BEACE%2CUAAA%3BEACA%2CyBAAA%3B%3BAA9BR%2CYAmCE%2CGAAG%3BEACD%2CUAAA%3BEACA%2CuBAAA%3BEACA%2CyBAAA%3B%3BAAtCJ%2CYAmCE%2CGAAG%2CKAKD%3BEACE%2CeAAA%3B%3B%3B%3B%3BAClHN%3BEACE%2CYAAA%3B%3BAADF%2CaAEE%3BEACE%2CiBAAA%3B%3BAAIJ%2COACE%3BEACE%2CyBAAA%3B%3BAAFJ%2COACE%2CSAGE%3BEACE%2CYAAA%3BEACA%2CgBAAA%3B%3BAANN%2COAUE%3BEACE%2CUAAA%3BEAEA%2CeAAA%3B%3BAAbJ%2COAUE%2CiBAKE%3BEACE%2CYAAA%3B%3BAAhBN%2COAUE%2CiBAKE%2CaAEE%3BEACE%2CyBAAA%3B%3BAAlBR%2COAuBE%3BEACE%2CWAAA%3B%3BAAxBJ%2COA2BE%3BEACE%2CyBAAA%3B%3BAA5BJ%2COA%2BBE%3BEACE%2CSAAA%3B%3BAC1CJ%3BEACE%2CkBAAA%3BEACA%2CaAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEAEA%2CyBAAA%3B%3BAANF%2CaAQE%3BEACE%2CkBAAA%3BEACA%2CgBAAA%3BEAEA%2CkBAAA%3BEACA%2CqBAAA%3BEACA%2CWAAA%3B%3BAAdJ%2CaAQE%2CcAQE%3BEACE%2CsBAAA%3B%3BAAjBN%2CaAQE%2CcAQE%2COAGE%3BEACE%2CcAAA%3B%3BAApBR%2CaAQE%2CcAQE%2COAQE%3BEACE%2CcAAA%3BEACA%2CaAAa%2CoBAAb%3BEACA%2C4BAAA%3B%3BAA3BR%2CaAQE%2CcAuBE%3BEACE%2CyBAAA%3BEACA%2C%2BBAAA%3B%3BAAEA%2CaA3BJ%2CcAuBE%2CcAIG%3BEACC%2CcAAA%3B%3BACpCR%3BEACE%2CaAAA%3BEACA%2CkBAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CYAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CyBAAA%3BEACA%2CYAAA%3B%3BACTF%3BEACE%2CYAAA%3BEACA%2CkBAAA%3BEACA%2CiCAAA%3BEACA%2CgBAAA%3BEACA%2CYAAA%3B%3BAAEA%2CUAAE%3BEACA%2CSAAA%3BEACA%2CYAAA%3BEACA%2CWAAA%3BEACA%2CaAAA%3BEACA%2CoBAAA%3B%3BAAZJ%2CUAgBE%3BEACE%2CYAAA%3BEACA%2CYAAA%3BEACA%2CeAAA%3B%3BAAMA%2CQAJyB%2CoBAAqB%2CoBAAqB%3BEAInE%2CUATF%3BIAMI%2CkBAAA%3B%3B%3BAAtBN%2CUAgBE%2CYASE%3BEACE%2CYAAA%3BEACA%2CgBAAA%3B%3BAAKN%3BEACE%2CYAAA%3BEAOA%2CiBAAA%3B%3BAARF%2CgBAGE%3BAAHF%2CgBAGM%3BEACF%2CeAAA%3BEACA%2CgBAAA%3B%3BACrCJ%3BEACE%2CgBAAA%3BEACA%2CiCAAA%3BEACA%2CyBAAA%3B%3BAAHF%2CiBAKE%3BEACE%2CYAAA%3B%3BAAIJ%3BEACE%2CgBAAA%3BEACA%2CkBAAA%3BEACA%2CYAAA%3B%3BAAHF%2CaAKE%3BEACE%2CoBAAA%3B%3BAANJ%2CaASE%2CQAAO%3BEACL%2CiBAAA%3B%3BAAIJ%3BEACE%2CiBAAA%3B%3BAADF%2CcAGE%3BEACE%2CeAAA%3BEACA%2CcAAA%3BEACA%2CsBAAA%3BEACA%2CmBAAA%3BEACA%2CyBAAA%3BEACA%2CmBAAA%3BEACA%2C6BAAA%3BEACA%2CgBAAA%3B%3B%3B%3B%3B%3BAAEA%2CcAVF%2CEAUG%3BEACC%2CyBAAA%3BEACA%2CyBAAA%3B%3BAAGF%2CcAfF%2CEAeG%3BEACC%2CmBAAA%3BEACA%2CcAAA%3B%3B%3B%3B%3BAAYF%2CcA7BF%2CEA6BG%2CSACC%3BEACE%2CcAAA%3B%3BAAFJ%2CcA7BF%2CEA6BG%2CSAKC%3BEACE%2CmBAAA%3B%3BAAIJ%2CcAvCF%2CEAuCG%2CQACC%3BEACE%2CmBAAA%3B%3BAA5CR%2CcAiDE%3BEACE%2CkBAAA%3B%3BAAlDJ%2CcAsDE%3BEACE%2CUAAA%3BEACA%2CYAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CUAAA%3BEACA%2CSAAA%3BEACA%2CYAAA%3B%3BAAIJ%3BEACE%2CUAAA%3BEACA%2CSAAA%3BEACA%2CmBAAA%3B%3BAAHF%2CYAKE%3BEACE%2CgBAAA%3BEACA%2CgBAAA%3BEACA%2CuBAAA%3B%3BAARJ%2CYAKE%2CGAKE%3BEACE%2CiBAAA%3B%3BAAKN%3BEACE%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CSAAA%3BEACA%2CUAAA%3BEACA%2CgBAAA%3BEACA%2CuBAAA%3B%3BAAGF%3BEACE%2CaAAA%3BEACA%2CeAAA%3BEACA%2CeAAA%3B%3BAAHF%2CeAKE%3BEACE%2CaAAA%3BEAEA%2CgBAAA%3BEACA%2CkBAAA%3B%3BAAMA%2CQAJyB%2CoBAAqB%2CoBAAqB%3BEAInE%2CeAVF%3BIAOI%2CkBAAA%3B%3B%3BAAZN%2CeAKE%2CUAUE%3BEACE%2CkBAAA%3BEACA%2CmBAAA%3BEACA%2CeAAA%3B%3BAAlBN%2CeAKE%2CUAgBE%3BEACE%2CkBAAA%3B%3BAAKN%3BEACE%2CaAAA%3BEACA%2CWAAA%3BEACA%2C6BAAA%3BEACA%2CkBAAA%3BEAEA%2CiBAAA%3BEAEA%2C0BAAA%3BEACA%2CqBAAA%3B%3BAATF%2CYAWE%3BEACE%2CmBAAA%3B%3BAAZJ%2CYAeE%3BEACE%2CkBAAA%3BEACA%2CSAAA%3B%3BAAIJ%3BEACE%2CeAAA%3BEACA%2CyBAAA%3BEACA%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CmBAAA%3B%3BACxKF%2CEAAE%3BEACA%2CmBAAA%3B%3BACDF%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BACAA%3BEACE%2CeAAA%3B%3BAAGF%2CqBACE%3BEACE%2CYAAA%3B%3BACNJ%3BEACE%2CeAAA%3B%3BAAGF%2CqBACE%3BEACE%2CYAAA%3B%3BACNJ%2CiBACE%3BEACE%2CkBAAA%3BEACA%2CaAAA%22%7D */