.fg-darkRed {
  color: #740000;
}
.fg-white {
  color: #ffffff;
}
@font-face {
  font-family: 'iconFont';
  src: url('/fonts/iconFont.eot');
  src: local('/fonts/iconFont'), local('/fonts/iconFont'), url("/fonts/iconFont.woff") format("woff"), url("/fonts/iconFont.otf") format("opentype"), url("/fonts/iconFont.svg") format("svg");
}
@font-face {
  font-family: 'glyphicons halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: local('/fonts/glyphicons-halflings-regular'), local('/fonts/glyphicons-halflings-regular'), url("/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/fonts/glyphicons-halflings-regular.otf") format("opentype"), url("/fonts/glyphicons-halflings-regular.svg") format("svg");
}
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(225, 225, 225, 0.1);
}
span,
legend,
label,
input,
select {
  font-family: 'Microsoft Yahei' !important;
}
input:hover,
select:hover,
textarea:hover {
  border: 1px solid #696969 !important;
}
th {
  color: #274b6d;
}
.input-control button {
  box-shadow: none !important;
}
.input-control button:hover {
  color: #696969 !important;
}
.place-right {
  float: right;
}
.place-left {
  float: left;
}
.margin5 {
  margin: 5px;
}
.margin5.v-only {
  margin-left: 0;
  margin-right: 0;
}
.margin5.h-only {
  margin-top: 0;
  margin-bottom: 0;
}
.margin10 {
  margin: 10px;
}
.margin10.v-only {
  margin-left: 0;
  margin-right: 0;
}
.margin10.h-only {
  margin-top: 0;
  margin-bottom: 0;
}
.margin15 {
  margin: 15px;
}
.margin15.v-only {
  margin-left: 0;
  margin-right: 0;
}
.margin15.h-only {
  margin-top: 0;
  margin-bottom: 0;
}
.margin20 {
  margin: 20px;
}
.margin20.v-only {
  margin-left: 0;
  margin-right: 0;
}
.margin20.h-only {
  margin-top: 0;
  margin-bottom: 0;
}
.subheader {
  font-size: 12pt;
}
.view-header {
  height: 40px;
  width: 100%;
  padding: 0 20px;
}
.view-header .view-header-icon {
  font-size: 25px !important;
  margin-right: 15px;
  cursor: pointer !important;
}
.view-header .view-header-icon:hover {
  color: #aaaaaa;
}
.view-header > i {
  font-size: 25px!important;
  margin-right: 10px;
}
.view-header > span {
  line-height: 40px !important;
}
.view-header .view-header-control-button-set .sep {
  font-weight: bold;
  margin: 0 5px;
  color: #aaaaaa;
}
.view-header .view-header-control-button-set .dropdown-menu.right-border-fix {
  right: -19px;
  min-width: 150px;
}
.view-header .view-header-control-button-set button {
  background: none;
  padding: 0 5px;
  line-height: 25px;
}
.view-header .view-header-control-button-set button i {
  margin-right: 5px;
  font-size: 14pt;
  cursor: pointer;
}
.view-header .view-header-control-button-set button:hover {
  color: #aaaaaa;
}
.view-form-sheet {
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 5px 10px;
  /*
  .input-control.text input:focus {
    &:not(.hasList) {
      padding-right: 25px !important;
    }
  }
  */
}
.window .view-form-sheet fieldset {
  margin-top: 10px;
}
.view-form-sheet fieldset .item-title {
  margin-left: 20px;
  border: 1px solid #d9d9d9;
  padding: 5px 20px;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #eeeeee;
  color: #4d4d4d;
}
.view-form-sheet .tab-control {
  height: 100%;
}
.view-form-sheet .tab-control ul > li > a > i {
  margin-right: 5px;
}
.view-form-sheet .tab-control .frames {
  height: calc(100% - 35px);
  border-top: 1px #eeeeee solid;
  border-bottom: 1px #eeeeee solid;
  border-left: 0 !important;
  border-right: 0 !important;
  margin: -1px;
}
.view-form-sheet .tab-control .frames .frame {
  height: 100%;
  overflow-y: auto;
}
.view-form-sheet .row .span1 {
  width: calc((100% - 180px) / 10) !important;
}
.view-form-sheet .row .span2 {
  width: calc((100% - 180px) / 10 * 2 + 20px) !important;
}
.view-form-sheet .row .span3 {
  width: calc((100% - 180px) / 10 * 3 + 40px) !important;
}
.view-form-sheet .row .span4 {
  width: calc((100% - 180px) / 10 * 4 + 60px) !important;
}
.view-form-sheet .row .span5 {
  width: calc((100% - 180px) / 10 * 5 + 80px) !important;
}
.view-form-sheet .row .span6 {
  width: calc((100% - 180px) / 10 * 6 + 100px) !important;
}
.view-form-sheet .row .span7 {
  width: calc((100% - 180px) / 10 * 7 + 120px) !important;
}
.view-form-sheet .row .span8 {
  width: calc((100% - 180px) / 10 * 8 + 140px) !important;
}
.view-form-sheet .row .span9 {
  width: calc((100% - 180px) / 10 * 9 + 160px) !important;
}
.view-form-sheet .row .span10 {
  width: 100% !important;
}
.view-form-sheet select {
  height: 30px;
  padding: 0 5px 2px 5px !important;
  font-size: 12pt;
}
.view-form-sheet .expandable-section {
  background-color: rgba(248, 248, 248, 0.5);
  padding: 0 10px 0 10px;
  border: 1px solid #d9d9d9;
  margin: 5px 0 20px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #eeeeee;
}
.view-form-sheet legend {
  padding-top: 10px !important;
}
.view-form-sheet .row {
  margin-top: 0 !important;
}
.view-form-sheet .view-form-legend {
  font-size: 16px;
}
.view-form-sheet label {
  color: #696969;
  font-size: 12pt;
}
.view-form-sheet table {
  background-color: rgba(248, 248, 248, 0.5);
}
.view-form-sheet table td {
  vertical-align: baseline;
}
.view-form-sheet table a {
  margin-left: 10px;
  cursor: pointer;
}
.view-form-sheet table button {
  border: 1px transparent  solid;
  margin: 0;
  font-size: 11pt!important;
}
.view-form-sheet table .in-table-button {
  cursor: pointer;
  padding: 5px 10px;
}
.view-form-sheet table .in-table-button:hover {
  background: #1ec8a6;
  border-radius: 5px;
  color: #ffffff;
}
.view-form-sheet table .in-table-button:active {
  background: #4d4d4d;
}
.view-form-sheet textarea {
  resize: vertical;
  font-size: 12pt;
}
.view-form-sheet .checkbox label {
  margin: 5px 5px 5px 0;
}
.view-form-sheet .text-content {
  line-height: 34px;
}
.view-form-sheet .dialog-content-panel {
  height: 100%;
}
.view-command-button {
  cursor: pointer;
  padding: 5px 10px;
  background: #1ec8a6 !important;
  color: #ffffff !important;
}
.view-command-button:hover {
  border: 1px solid #aaaaaa;
  color: #4d4d4d !important;
}
.ng-invalid {
  background-color: #fac4c8;
}
.record-control-button-set button {
  background: none !important;
  font-size: 12pt !important;
  padding: 0 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.view-control-button-set {
  top: 5px;
  float: right;
}
.view-control-button-set button.dropdown-toggle {
  padding-right: 0!important;
}
.view-control-button-set button.dropdown-toggle:after {
  content: none;
}
.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 30px;
}
.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}
.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
t {
  font-family: 'Microsoft Yahei' !important;
}
.bleach-stage {
  position: relative;
}
.bleach-content {
  position: relative;
  top: -50px;
  padding-top: 50px;
  width: 100%;
  height: 100%;
}
.dropdown-menu li:hover:not(.divider) {
  background: #1ec8a6 !important;
  border-color: #1ec8a6 !important;
}
.dropdown-menu i,
.dropdown-menu t {
  color: #4d4d4d !important;
}
#right-stage {
  width: 100%;
  z-index: 10;
  height: calc(100% - 50px);
}
#view-port {
  overflow: hidden;
  height: 100%;
}
#top-bar,
.top-bar-wrapper {
  position: relative;
  z-index: 300;
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  box-shadow: 1px 1px 1px #eeeeee;
}
#left-menu-switcher {
  height: 50px;
}
#left-menu-switcher i {
  vertical-align: 5%;
  margin-left: 10px;
}
#left-stage {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #eeeeee;
  border-right: 1px solid #d9d9d9;
  z-index: 1000;
  /*
    &:not(.narrow-menu){
      overflow-y: auto;
      overflow-x: hidden;
    }
  */
}
#left-stage .pop-left-button {
  top: -34px;
  right: -12px;
  position: relative;
  font-size: 25pt;
  cursor: pointer;
}
#left-stage nav {
  background-color: #eeeeee;
  border: none;
}
#left-stage li.title {
  background-color: #eeeeee;
  color: #4d4d4d;
  height: 50px !important;
  border-bottom: 1px solid #d9d9d9;
}
#left-stage a:not([href]) {
  cursor: context-menu;
}
#left-stage a:hover {
  background-color: #1ec8a6;
}
#left-stage .sidebar-menu > a:not(:hover) {
  background-color: #eeeeee;
}
#left-stage .sidebar-menu > ul.hide-submenu {
  height: 0;
  opacity: 0;
}
#left-stage .sidebar-sub-menu > a:not(:hover) {
  background: none;
}
#left-menu-switcher {
  color: #ffffff;
  font-size: 35px !important;
  cursor: pointer;
}
.side-menu-header {
  position: relative;
  top: -8px;
}
.narrow-menu li.title > div {
  display: none;
}
.narrow-menu > nav > ul > li > a {
  padding-left: 12px !important;
}
.narrow-menu > nav > ul > li > a:after {
  display: none;
}
.narrow-menu > nav > ul > li > a > i {
  font-size: 25px !important;
}
.narrow-menu > nav > ul > li > a > t {
  display: none;
}
.narrow-menu > nav > ul > li:hover {
  height: 47px;
}
.narrow-menu > nav > ul > li:hover > ul {
  top: -46px;
  display: block !important;
}
.narrow-menu li > ul {
  left: 50px;
  width: 200px !important;
  border: 1px solid #d9d9d9 !important;
}
.narrow-menu li > ul i {
  font-size: 15px;
}
/**
 * Created by Bli on 14-3-6.
 */
.form-actions {
  float: right;
}
.form-actions button {
  margin-left: 10px;
}
.window .content {
  height: calc(100% - 50px) !important;
}
.window .content .view-form-sheet {
  height: 100%;
  margin-bottom: 0;
}
.window .view-form-sheet {
  padding: 0;
  height: inherit;
}
.window .view-form-sheet .tab-control {
  height: auto;
}
.window .view-form-sheet .tab-control .frame {
  padding: 10px 10px 0 10px;
}
.window .dialog-contol-panel {
  width: 100%;
}
.window .dialog-content-panel {
  height: calc(100% - 50px);
}
.window .btn-close {
  margin: 0;
}
#preload-mask {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}
#preload-mask .loader-title {
  position: relative;
  font-size: 100px;
  text-align: center;
  top: calc(50% - 94px);
  width: 100%;
}
#preload-mask .loader-title > span {
  text-shadow: 0 0 300px;
}
#preload-mask .loader-title > span i {
  color: #aa4643;
}
#preload-mask .loader-title > span span {
  color: #4d4d4d;
  font-family: 'Audiowide', cursive !important;
  text-shadow: 0 0 4px #ffffff;
}
#preload-mask .loader-title .login-button {
  background-color: #4d4d4d;
  color: rgba(248, 248, 248, 0.5);
}
#preload-mask .loader-title .login-button:hover {
  color: #ffffff;
}
#screen-mask {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #4d4d4d;
  opacity: 0.5;
}
#dashboard {
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 0 12px 10px;
}
#dashboard > .row {
  margin: 0;
  height: 100%;
}
#dashboard .task-group {
  height: 100%;
  padding: 3px;
}
#dashboard .task-group .panel {
  height: 100%;
  margin-bottom: 10px;
}
#dashboard .nano {
  height: calc(100% - 45px);
}
#dashboard .nano-content {
  padding: 5px;
}
#task-editor-form {
  overflow: hidden;
  height: calc(100% - 53px);
}
#task-editor-form .row {
  height: 100%;
}
#task-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
#task-side-nav {
  padding-top: 50px;
}
#task-side-nav a {
  font-size: 20px;
  color: #4d4d4d;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 1px 40px 1px 7px;
  margin-bottom: 10px;
  border: 2px solid transparent;
  background: none;
}
#task-side-nav a.active {
  border: 2px solid #1ec8a6;
  background-color: #eeeeee;
}
#task-side-nav a.disabled {
  cursor: not-allowed;
  color: #999999;
}
#task-side-nav a.disabled:hover {
  background: none;
}
#task-side-nav a:hover:not(.active):not(.disabled) {
  border: 2px solid #999999;
  background-color: #eeeeee;
}
#task-side-nav a.finished i {
  color: #1ec8a6;
}
#task-side-nav a.finished .progress-line {
  background: #1ec8a6;
}
#task-side-nav .task-progress-indicator {
  margin-right: 30px;
}
#task-side-nav .progress-line {
  width: 4px;
  height: 27px;
  position: absolute;
  background: #999999;
  left: 14px;
  top: 23px;
  z-index: 999;
}
.task-header {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.task-header h3 {
  margin-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-header h3 small {
  margin-left: 10px;
}
.task-topic {
  font-size: 14pt;
  line-height: 22px;
  position: absolute;
  top: 15px;
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
}
