
<!--Created by Bli on 2014/4/8.-->
<fieldset keyboard-support="keyboard-support">
  <legend><span class="text-muted">社会保险</span><span class="place-right text-muted view-form-legend">Social Insurances</span></legend>
  <div ng-show="expandableSection.showSocialInsuranceSection" class="expandable-section">
    <div class="row">
      <div class="span2">
        <label>参加社会保险</label>
        <div class="input-control checkbox">
          <label>
            <input type="checkbox" ng-model="rsda_model.rsda_social_security.cjbx" autofocus="autofocus" tab-start="tab-start"/><span class="check"></span><span>参加</span>
          </label>
        </div>
      </div>
      <div class="span3">
        <label>保险缴纳参数</label>
        <div class="input-control text">
          <input type="text" placeholder="保险缴纳参数" ng-model="rsda_model.rsda_social_security.bxjncs"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>参加养老保险时间</label>
        <div data-role="datepicker" class="input-control text">
          <input type="text" placeholder="选择日期" ng-model="rsda_model.rsda_social_security.ylbx_date"/>
          <button tabindex="-1" class="btn-date"></button>
        </div>
      </div>
      <div class="span3">
        <label>养老保险帐号</label>
        <div class="input-control text">
          <input type="text" placeholder="养老保险帐号" ng-model="rsda_model.rsda_social_security.ylhao"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <label>参加医疗保险时间</label>
        <div data-role="datepicker" class="input-control text">
          <input type="text" placeholder="选择日期" ng-model="rsda_model.rsda_social_security.ylbx2_date"/>
          <button tabindex="-1" class="btn-date"></button>
        </div>
      </div>
      <div class="span3">
        <label>医疗保险帐号</label>
        <div class="input-control text">
          <input type="text" placeholder="医疗保险帐号" ng-model="rsda_model.rsda_social_security.ylhao2"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>参加失业保险时间</label>
        <div data-role="datepicker" class="input-control text">
          <input type="text" placeholder="选择日期" ng-model="rsda_model.rsda_social_security.sybx_date"/>
          <button tabindex="-1" class="btn-date"></button>
        </div>
      </div>
      <div class="span3">
        <label>失业保险帐号</label>
        <div class="input-control text">
          <input type="text" placeholder="失业保险帐号" ng-model="rsda_model.rsda_social_security.syhao"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <label>参加工伤保险时间</label>
        <div data-role="datepicker" class="input-control text">
          <input type="text" placeholder="选择日期" ng-model="rsda_model.rsda_social_security.gsbx_date"/>
          <button tabindex="-1" class="btn-date"></button>
        </div>
      </div>
      <div class="span3">
        <label>工伤保险帐号</label>
        <div class="input-control text">
          <input type="text" placeholder="工伤保险帐号" ng-model="rsda_model.rsda_social_security.gshao"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>参加公积金时间</label>
        <div data-role="datepicker" class="input-control text">
          <input type="text" placeholder="选择日期" ng-model="rsda_model.rsda_social_security.gjj_date"/>
          <button tabindex="-1" class="btn-date"></button>
        </div>
      </div>
      <div class="span3">
        <label>公积金帐号</label>
        <div class="input-control text">
          <input type="text" placeholder="公积金帐号" ng-model="rsda_model.rsda_social_security.gjjhao"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
  </div>
  <legend><span class="text-muted">商业保险</span><span class="place-right text-muted view-form-legend">Business Insurances</span></legend>
  <div ng-show="expandableSection.showBusinessInsuranceSection" class="expandable-section">
    <div class="row">
      <div class="span3">
        <label>团体住院保险</label>
        <div class="input-control checkbox">
          <label>
            <input type="checkbox" ng-model="rsda_model.rsda_social_security.syzybx"/><span class="check"></span><span>参加</span>
          </label>
        </div>
      </div>
      <div class="span3">
        <label>团体人身伤害保险</label>
        <div class="input-control checkbox">
          <label>
            <input type="checkbox" ng-model="rsda_model.rsda_social_security.syrsbx"/><span class="check"></span><span>参加</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <legend><span class="text-muted">其它资金</span><span class="place-right text-muted view-form-legend">Additional Fundations</span></legend>
  <div ng-show="expandableSection.showAdditionalFundationsSection" class="expandable-section">
    <div class="row">
      <div class="span3">
        <label>股本</label>
        <div class="input-control text">
          <input type="text" placeholder="0.00" ng-model="rsda_model.rsda_social_security.gbj"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span3">
        <label>自留金</label>
        <div class="input-control text">
          <input type="text" placeholder="0.00" ng-model="rsda_model.rsda_social_security.zlj"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
  </div>
  <legend><span class="text-muted">联系人/投保人</span><span class="place-right text-muted view-form-legend">Contact Person & Funder</span></legend>
  <div ng-show="expandableSection.showContactPersonAndFunderSection" class="expandable-section">
    <div class="row">
      <div class="span2">
        <label>联系人</label>
        <div class="input-control text">
          <input type="text" placeholder="联系人" ng-model="rsda_model.rsda_social_security.lxr_bx"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>联系人关系</label>
        <div class="input-control text">
          <input type="text" placeholder="联系人关系" ng-model="rsda_model.rsda_social_security.lxr_gx"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>联系人职务</label>
        <div class="input-control text">
          <input type="text" placeholder="联系人职务" ng-model="rsda_model.rsda_social_security.lxr_zw"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span3">
        <label>联系人电话</label>
        <div class="input-control text">
          <input type="text" placeholder="联系人电话" ng-model="rsda_model.rsda_social_security.lxr_tel"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <label>联系人单位</label>
        <div class="input-control text">
          <input type="text" placeholder="联系人单位" ng-model="rsda_model.rsda_social_security.lxr_dw"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span5">
        <label>联系人地址</label>
        <div class="input-control text">
          <input type="text" placeholder="联系人地址" ng-model="rsda_model.rsda_social_security.lxr_addr"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
  </div>
  <legend><span class="text-muted">计划生育</span><span class="place-right text-muted view-form-legend">Birth Strategy</span></legend>
  <div ng-show="expandableSection.showBirthStrategySection" class="expandable-section">
    <div class="row">
      <div class="span4">
        <label>准生证号</label>
        <div class="input-control text">
          <input type="text" placeholder="准生证号" ng-model="rsda_model.rsda_first_birth.zszhao"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span4">
        <label>独生子女证号</label>
        <div class="input-control text">
          <input type="text" placeholder="独生子女证号" ng-model="rsda_model.rsda_first_birth.dsznzhao"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>子女数
          <div class="input-control text">
            <input type="text" placeholder="0" ng-model="rsda_model.rsda_first_birth.zns"/>
            <button class="btn-clear"></button>
          </div>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <label>本人生育次数</label>
        <div class="input-control text">
          <input type="text" placeholder="0" ng-model="rsda_model.rsda_first_birth.brsycs"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>配偶生育次数</label>
        <div class="input-control text">
          <input type="text" placeholder="0" ng-model="rsda_model.rsda_first_birth.posycs"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>节育措失</label>
        <div class="input-control text">
          <input type="text" placeholder="节育措失" ng-model="rsda_model.rsda_first_birth.jycs"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>落实措施日期</label>
        <div data-role="datepicker" class="input-control text">
          <input type="text" placeholder="选择日期" ng-model="rsda_model.rsda_first_birth.lscs_date"/>
          <button tabindex="-1" class="btn-date"></button>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="span2">
        <label>子女姓名</label>
        <div class="input-control text">
          <input type="text" placeholder="子女姓名" ng-model="rsda_model.rsda_first_birth.rsda_first_birth_children[0].znxm"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>性别</label>
        <div class="input-control select">
          <select ng-model="rsda_model.rsda_first_birth.rsda_first_birth_children[0].znxb">
            <option value="" default="default" selected="selected">无</option>
            <option value="0">男</option>
            <option value="1">女</option>
          </select>
        </div>
      </div>
      <div class="span2">
        <label>生产方式</label>
        <div class="input-control text">
          <input type="text" placeholder="生产方式" ng-model="rsda_model.rsda_first_birth.rsda_first_birth_children[0].scfs"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>生产日期</label>
        <div data-role="datepicker" class="input-control text">
          <input type="text" placeholder="选择日期" ng-model="rsda_model.rsda_first_birth.rsda_first_birth_children[0].sc_date"/>
          <button tabindex="-1" class="btn-date"></button>
        </div>
      </div>
    </div>
  </div>
</fieldset>