//Created by Bli on 2014/4/8.
fieldset(keyboard-support)
	legend
		span.text-muted 社会保险
		span.place-right.text-muted.doodle-legend Social Insurances
	div.expandable-section(ng-show="expandableSection.showSocialInsuranceSection")
		div.row
			div.span2
				label 参加社会保险
				div.input-control.checkbox
					label
						input(type="checkbox", ng-model="rsda_model.rsda_social_security.cjbx", autofocus, tab-start)
						span.check
						span 参加
			div.span3
				label 保险缴纳参数
				div.input-control.text
					input(type="text", placeholder="保险缴纳参数", ng-model="rsda_model.rsda_social_security.bxjncs")
					button.btn-clear
			div.span2
				label 参加养老保险时间
				div.input-control.text(data-role="datepicker")
					input(type="text", placeholder="选择日期", ng-model="rsda_model.rsda_social_security.ylbx_date")
					button.btn-date(tabindex="-1")
			div.span3
				label 养老保险帐号
				div.input-control.text
					input(type="text", placeholder="养老保险帐号", ng-model="rsda_model.rsda_social_security.ylhao")
					button.btn-clear
		div.row
			div.span2
				label 参加医疗保险时间
				div.input-control.text(data-role="datepicker")
					input(type="text", placeholder="选择日期", ng-model="rsda_model.rsda_social_security.ylbx2_date")
					button.btn-date(tabindex="-1")
			div.span3
				label 医疗保险帐号
				div.input-control.text
					input(type="text", placeholder="医疗保险帐号", ng-model="rsda_model.rsda_social_security.ylhao2")
					button.btn-clear
			div.span2
				label 参加失业保险时间
				div.input-control.text(data-role="datepicker")
					input(type="text", placeholder="选择日期", ng-model="rsda_model.rsda_social_security.sybx_date")
					button.btn-date(tabindex="-1")
			div.span3
				label 失业保险帐号
				div.input-control.text
					input(type="text", placeholder="失业保险帐号", ng-model="rsda_model.rsda_social_security.syhao")
					button.btn-clear
		div.row
			div.span2
				label 参加工伤保险时间
				div.input-control.text(data-role="datepicker")
					input(type="text", placeholder="选择日期", ng-model="rsda_model.rsda_social_security.gsbx_date")
					button.btn-date(tabindex="-1")
			div.span3
				label 工伤保险帐号
				div.input-control.text
					input(type="text", placeholder="工伤保险帐号", ng-model="rsda_model.rsda_social_security.gshao")
					button.btn-clear
			div.span2
				label 参加公积金时间
				div.input-control.text(data-role="datepicker")
					input(type="text", placeholder="选择日期", ng-model="rsda_model.rsda_social_security.gjj_date")
					button.btn-date(tabindex="-1")
			div.span3
				label 公积金帐号
				div.input-control.text
					input(type="text", placeholder="公积金帐号", ng-model="rsda_model.rsda_social_security.gjjhao")
					button.btn-clear

	legend
		span.text-muted 商业保险
		span.place-right.text-muted.doodle-legend Business Insurances
	div.expandable-section(ng-show="expandableSection.showBusinessInsuranceSection")
		div.row
			div.span3
				label 团体住院保险
				div.input-control.checkbox
					label
						input(type="checkbox", ng-model="rsda_model.rsda_social_security.syzybx")
						span.check
						span 参加
			div.span3
				label 团体人身伤害保险
				div.input-control.checkbox
					label
						input(type="checkbox", ng-model="rsda_model.rsda_social_security.syrsbx")
						span.check
						span 参加

	legend
		span.text-muted 其它资金
		span.place-right.text-muted.doodle-legend Additional Fundations
	div.expandable-section(ng-show="expandableSection.showAdditionalFundationsSection")
		div.row
			div.span3
				label 股本
				div.input-control.text
					input(type="text", placeholder="0.00", ng-model="rsda_model.rsda_social_security.gbj")
					button.btn-clear
			div.span3
				label 自留金
				div.input-control.text
					input(type="text", placeholder="0.00", ng-model="rsda_model.rsda_social_security.zlj")
					button.btn-clear

	legend
		span.text-muted 联系人/投保人
		span.place-right.text-muted.doodle-legend Contact Person & Funder
	div.expandable-section(ng-show="expandableSection.showContactPersonAndFunderSection")
		div.row
			div.span2
				label 联系人
				div.input-control.text
					input(type="text", placeholder="联系人", ng-model="rsda_model.rsda_social_security.lxr_bx")
					button.btn-clear
			div.span2
				label 联系人关系
				div.input-control.text
					input(type="text", placeholder="联系人关系", ng-model="rsda_model.rsda_social_security.lxr_gx")
					button.btn-clear
			div.span2
				label 联系人职务
				div.input-control.text
					input(type="text", placeholder="联系人职务", ng-model="rsda_model.rsda_social_security.lxr_zw")
					button.btn-clear
			div.span3
				label 联系人电话
				div.input-control.text
					input(type="text", placeholder="联系人电话", ng-model="rsda_model.rsda_social_security.lxr_tel")
					button.btn-clear
		div.row
			div.span4
				label 联系人单位
				div.input-control.text
					input(type="text", placeholder="联系人单位", ng-model="rsda_model.rsda_social_security.lxr_dw")
					button.btn-clear
			div.span5
				label 联系人地址
				div.input-control.text
					input(type="text", placeholder="联系人地址", ng-model="rsda_model.rsda_social_security.lxr_addr")
					button.btn-clear

	legend
		span.text-muted 计划生育
		span.place-right.text-muted.doodle-legend Birth Strategy
	div.expandable-section(ng-show="expandableSection.showBirthStrategySection")
		div.row
			div.span4
				label 准生证号
				div.input-control.text
					input(type="text", placeholder="准生证号", ng-model="rsda_model.rsda_first_birth.zszhao")
					button.btn-clear
			div.span4
				label 独生子女证号
				div.input-control.text
					input(type="text", placeholder="独生子女证号", ng-model="rsda_model.rsda_first_birth.dsznzhao")
					button.btn-clear
			div.span2
				label 子女数
					div.input-control.text
						input(type="text", placeholder="0", ng-model="rsda_model.rsda_first_birth.zns")
						button.btn-clear
		div.row
			div.span2
				label 本人生育次数
				div.input-control.text
					input(type="text", placeholder="0", ng-model="rsda_model.rsda_first_birth.brsycs")
					button.btn-clear
			div.span2
				label 配偶生育次数
				div.input-control.text
					input(type="text", placeholder="0", ng-model="rsda_model.rsda_first_birth.posycs")
					button.btn-clear
			div.span2
				label 节育措失
				div.input-control.text
					input(type="text", placeholder="节育措失", ng-model="rsda_model.rsda_first_birth.jycs")
					button.btn-clear
			div.span2
				label 落实措施日期
				div.input-control.text(data-role="datepicker")
					input(type="text", placeholder="选择日期", ng-model="rsda_model.rsda_first_birth.lscs_date")
					button.btn-date(tabindex="-1")
		hr
		div.row
			div.span2
				label 子女姓名
				div.input-control.text
					input(type="text", placeholder="子女姓名", ng-model="rsda_model.rsda_first_birth.rsda_first_birth_children[0].znxm")
					button.btn-clear
			div.span2
				label 性别
				div.input-control.select
					select(ng-model="rsda_model.rsda_first_birth.rsda_first_birth_children[0].znxb")
						option(value="", default, selected) 无
						option(value="0" ) 男
						option(value="1" ) 女
			div.span2
				label 生产方式
				div.input-control.text
					input(type="text", placeholder="生产方式", ng-model="rsda_model.rsda_first_birth.rsda_first_birth_children[0].scfs")
					button.btn-clear
			div.span2
				label 生产日期
				div.input-control.text(data-role="datepicker")
					input(type="text", placeholder="选择日期", ng-model="rsda_model.rsda_first_birth.rsda_first_birth_children[0].sc_date")
					button.btn-date(tabindex="-1")