
<!--Created by Bli on 2014/6/12.-->
<div id="detail-editor-form" ng-controller="detailEditorController" class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" data-dismiss="modal" class="close">&times;</button>
      <h4 class="modal-title">明细管理 &nbsp;<small>Details Management</small></h4>
    </div>
    <div class="modal-body container-fluid">
      <div class="table-responsive">
        <table id="proposal-detail-editor-table" editable-table="editable-table" class="table table-bordered">
          <thead>
            <tr>
              <th>服务内容</th>
              <th>服务时间</th>
              <th>服务费用</th>
              <th>交通费用</th>
              <th>公关费用</th>
              <th>小计</th>
              <th>附件</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="sub_item in dialog_data_model">
              <td edit-model="sub_item.service">{{sub_item.service}}</td>
              <td edit-model="sub_item.date">{{sub_item.date| date:'yyyy-MM-dd'}}</td>
              <td edit-model="sub_item.expense">{{sub_item.expense}}</td>
              <td edit-model="sub_item.traffic">{{sub_item.traffic}}</td>
              <td edit-model="sub_item.extra">{{sub_item.extra}}</td>
              <td edit-disabled="edit-disabled">{{sub_item.expense + sub_item.traffic + sub_item.extra}}</td>
              <td edit-disabled="edit-disabled"><a ng-repeat="attach in sub_item.attachment" class="attachment-token label cursor-pointer"><i class="icon-file-excel"></i><span>{{attach.file_name}}</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <table-content-handler option="tableHandlerOption" model="dialog_data_model" table="#proposal-detail-editor-table"></table-content-handler>
    </div>
    <div class="modal-footer">
      <div ng-show="prop.showErrorMessage" class="pull-left alert-danger panel"><i class="fa fa-fw fa-warning"></i><span>单据填写有误，请修正红色标记</span></div>
      <button type="button" ng-click="Cancel()" class="btn btn-default">取消</button>
      <button type="button" ng-click="Confirm('update', true)" class="btn btn-primary">保存</button>
    </div>
  </div>
</div>