//Created by Bli on 2014/6/12.
#detail-editor-form.modal-dialog.modal-lg(ng-controller="detailEditorController")
	div.modal-content
		div.modal-header
			button.close(type="button", data-dismiss="modal") &times;
			h4.modal-title 明细管理 &nbsp;
				small Details Management
		div.modal-body.container-fluid

			div.table-responsive
				table#proposal-detail-editor-table.table.table-bordered(editable-table)
					thead
						tr
							th 服务内容
							th 服务时间
							th 服务费用
							th 交通费用
							th 公关费用
							th 小计
							th 附件
					tbody
						tr(ng-repeat="sub_item in dialog_data_model track by $index")
							td(edit-model="sub_item.service") {{sub_item.service}}
							td(edit-model="sub_item.date") {{sub_item.date| date:'yyyy-MM-dd'}}
							td(edit-model="sub_item.expense") {{sub_item.expense}}
							td(edit-model="sub_item.traffic") {{sub_item.traffic}}
							td(edit-model="sub_item.extra") {{sub_item.extra}}
							td(edit-disabled) {{sub_item.expense + sub_item.traffic + sub_item.extra}}
							td(edit-disabled)
								a.attachment-token.label.cursor-pointer(ng-repeat="attach in sub_item.attachment")
									span {{attach.file_name}}


			table-content-handler(option="tableHandlerOption", model="dialog_data_model", table="#proposal-detail-editor-table")

		div.modal-footer
			div.pull-left.alert-danger.panel(ng-show="prop.showErrorMessage")
				i.fa.fa-fw.fa-warning
				span 单据填写有误，请修正红色标记
			button.btn.btn-default(type="button", ng-click="Cancel()") 取消
			button.btn.btn-primary(type="button", ng-click="Confirm('update', true)") 保存



