//Created by bli on 2014/6/11.
#attach-editor-form.modal-dialog.modal-lg(ng-controller="attachEditorController")
	div.modal-content
		div.modal-header
			button.close(type="button", data-dismiss="modal") &times;
			h4.modal-title 附信管理 &nbsp;
				small Attachments Management
		div.modal-body.container-fluid

			div.table-responsive
				table#attach-editor-table.table.table-bordered
					thead
						tr
							th 文件名
							th 文件类型
							th 文件大小
							th 上传日期
					tbody
						tr.cursor-pointer(ng-repeat="item in dialog_data_model")
							td
								a.attachment-token.label(download="{{item.file_name}}", ng-href="file-download/{{item.file_url}}")
									i.fa.text-info.fa-fw(class="{{translateFileType(item.file_ext).icon}}") &nbsp;
									span {{item.file_name}}
							td {{translateFileType(item.file_ext).type}}
							td {{item.file_size}}
							td {{item.createdAt | date:'yyyy-MM-dd'}}

			table-content-handler(option="tableHandlerOption", model="dialog_data_model", table="#attach-editor-table")

			file-upload-field(on-uploaded="fileUploaded(file)")



		div.modal-footer
			div.pull-left.alert-danger.panel(ng-show="prop.showErrorMessage")
				i.fa.fa-fw.fa-warning
				span 单据填写有误，请修正红色标记
			button.btn.btn-default(type="button", ng-click="Cancel()") 取消
			button.btn.btn-primary(type="button", ng-click="Confirm('update', true)") 保存

