//Created by bli on 2014/6/11.
#attach-editor-form.modal-dialog.modal-lg(ng-controller="attachEditorController")
	div.modal-content
		div.modal-header
			button.close(type="button", data-dismiss="modal") &times;
			h4.modal-title 附信管理 &nbsp;
				small Attachments Management
		div.modal-body.container-fluid
			div.pull-right.control-buttons.btn-group(ng-show="hasSelection")
				button.btn.btn-default
					i.fa.fa-folder-open.fa-fw &nbsp;
					span 打开
				button.btn.btn-default
					i.fa.fa-trash-o.fa-fw &nbsp;
					span 删除
			h4 附件列表 &nbsp;
				small Attachments
			hr
			div.table-responsive
				table.table.table-bordered
					thead
						tr
							th 名称
							th 文件名
							th 文件类型
							th 文件大小
					tbody
						tr.cursor-pointer(ng-repeat="item in dialog_data_model", ng-click="selectRow($event)", ng-class="{'active': $first}")
							td {{item.file_desc}}
							td
								i.fa.fa-file-word-o.text-info.fa-fw &nbsp;
								span {{item.file_name}}
							td {{item.file_ext}}
							td {{item.file_size}}

			file-upload-field(data-model="dialog_data_model", on-uploaded="fileUploaded(file)")

		div.modal-footer
			div.pull-left
				button.btn.btn-danger(ng-if="prop.mode=='edit'", pop-confirm="emptyBtnOptions") 清空
			div.pull-left.alert-danger.panel(ng-show="prop.showErrorMessage")
				i.fa.fa-fw.fa-warning
				span 单据填写有误，请修正红色标记
			button.btn.btn-default(type="button", ng-click="Cancel()") 取消
			button.btn.btn-primary(type="button", ng-click="Confirm('update', true)") 保存

