//Created by Bli on 14-2-13.
div.top-bar-wrapper(ng-controller='topBarController')
	#left-menu-switcher.place-left(ng-click='toggleLeftMenu()')
		i.icon-lines.fg-hover-grayLight
	#global-search-box.input-control.text
		input(type='text', value='', placeholder='请输入关键字搜索...')
		button.btn-search

	#top-bar-right-button-panel
		nav.horizontal-menu: ul
			li
				a.dropdown-toggle(ng-click='showUserMenu()')
					i.icon-user-2
					t 李小帅
					i.icon-arrow-down-4
				ul.dropdown-menu#user-dropdown-menu
					li: a(href='#')
						i.icon-eye
						span 帐户信息
					li: a(href='#')
						i.icon-loop
						span 切换帐套
					li: a(href='#')
						i.icon-locked-2
						span 锁屏
					li.divider
					li: a(href='#')
						i.icon-switch
						span 登出系统
