#top-bar, .top-bar-wrapper {
  display: none;
  position: relative;
  z-index: 300;
  height: @top-bar-height;
  width: 100%;
  background-color: @black-bg; //@grey
  border-bottom: 1px solid @grey-border;
  margin: 0;
  box-shadow: 1px 1px 1px @grey;
}

#left-menu-switcher {
  height: @top-bar-height;

  i{
    vertical-align: 5%;
    margin-left: 10px;
  }
}

#task-searcher{

  @media (min-width: 992px),  (min-width: 992px), (min-width: 768px){
    width: 25%;
    float: right;
  }
}