//Created by Bli on 14-2-13.
div.top-bar-wrappernavbar.navbar-inverse.navbar-fixed-top( role="navigation")
	div.container-fluid
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#topbar-collapse")
				span.sr-only
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand 久富科技

		#topbar-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-left
				li.dropdown.active
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-bar-chart-o.margin5.h-only
						span.cursor-pointer 我的任务
						b.caret
					ul.dropdown-menu
						li: a(href="#")
							i.fa.fa-filter.margin5.h-only
							span 显示控制条
				li.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-history.margin5.h-only
						span.cursor-pointer 最近打开
						b.caret
					ul.dropdown-menu
						li: a 无


			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-user.margin5.h-only
						span 李小帅
						b.caret
					ul.dropdown-menu
						li: a(href="#")
							i.icon-eye
							span 帐户信息
						li: a(href='#')
							i.icon-loop
							span 切换帐套
						li: a(href='#')
							i.icon-locked-2
							span 锁屏
						li.divider
						li: a(href='#')
							i.icon-switch
							span 登出系统

			form.navbar-form.navbar-right(role="search")
				div.right-inner-addon
					i.fa.fa-search
					input.form-control(type="text", placeholder="任务代号")




			//#left-menu-switcher.navbar-toggle(ng-click='toggleLeftMenu()')
				i.icon-lines.fg-hover-grayLight
	//#global-search-box.input-control.text
		input(type='text', value='', placeholder='请输入关键字搜索...')
		button.btn-search

	//#top-bar-right-button-panel
		nav.horizontal-menu: ul
			li
				a.dropdown-toggle(ng-click='showUserMenu()')
					i.icon-user-2
					t 李小帅
					i.icon-arrow-down-4
				ul.dropdown-menu#user-dropdown-menu
					li: a(href='#')
						i.icon-eye
						span 帐户信息
					li: a(href='#')
						i.icon-loop
						span 切换帐套
					li: a(href='#')
						i.icon-locked-2
						span 锁屏
					li.divider
					li: a(href='#')
						i.icon-switch
						span 登出系统
