<!--Created by Bli on 2014/4/30.--><!--div.dashboard-titlei.fa.fa-bar-chart-o.fa-fw &nbsp;
span 任务板 &nbsp;
small.hidden-xs Dashboard

div.btn-group.view-control-button-set.pull-right
 button.btn.btn-default
  i.icon-filter
  span 过滤
 button.btn.btn-default
  i.icon-cog
  span 设置
 button.btn.btn-default
  i.icon-help-2
  span 帮助
  
  --><div id="dashboard" class="container-fluid"><div class="row"><div ng-repeat="task_group in taskList track by task_group.seq" class="col-md-3 col-sm-3 task-group"><div class="panel panel-default"><div class="panel-heading text-center"><span class="subheader">{{task_group.title}}</span><comment class="text-muted margin20">{{task_group.sub_title}}</comment></div><div class="panel-body nano"><div class="nano-content"><div class="list-group"><a ng-repeat="task in task_group.task_list track by $index" ng-click="detail($event, task)" class="list-group-item cursor-pointer"><h4 class="list-group-item-heading">TK - {{task.id}}<span class="label label-primary pull-right">{{translateStatus(task.status)}}</span></h4><p class="list-group-item-text">{{translateCustomer(task.customer_name)}}</p><p class="list-group-item-text">{{task.slogan}}</p></a></div></div><!--div.panel.task-block(ng-repeat="task in task_group.task_list track by task.id", ng-click="detail($event, task)")
 div.panel-heading TK-{{task.id}}
  span.task-status.place-right.fg-darkRed {{translateStatus(task.status)}}
 div.panel-body
  label.text-ellipsis.text-info {{translateCustomer(task.customer)}}
  label {{task.topic}}--></div></div></div></div></div>