#dashboard {
  height: ~"calc(100% - @{top-bar-height})";
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 0 10px 10px;

  & > .row {
    margin: 0;
    height: 100%;
  }

  .nano {
    height: ~"calc(100% - @{top-bar-height})";
  }

  .panel-header comment {
    font-size: 12pt;
  }

  .panel-content {
    padding: 10px 2px;
  }

  .task-group {
    width: 24%;
    margin-right: 1%;
    height: 100%;
    float: left;

    border: 1px @grey-border solid;

    .subheader {
      color: @grey-darker;
    }

    .task-block {
      margin: 10px 5px;
      border: 1px @grey-border solid;
      cursor: pointer;

      &:hover{
        .panel-header{
          background-color: @green;
          color: @white;
          cursor: inherit;
        }

      }


      label {
        cursor: inherit;
        font-size: 12pt;
      }

      .task-control-button-set {
        button {
          background: none;
          font-size: 15pt;
          padding: 0 10px 0 0;
        }
      }
    }

    .task-status {
      font-size: 14pt;
    }

  }
}