//Created by Bli on 2014/4/30.
div.view-header
	i.icon-dashboard
	span.subheader 任务板
	comment.text-muted.margin20 Dashboard

	div.place-right.view-control-button-set
		button
			i.icon-filter
			span 过滤
		button
			i.icon-cog
			span 设置
		button
			i.icon-help-2
			span 帮助


div#dashboard.grid
	div.row
		div.task-group.panel(ng-repeat="task_group in taskList track by task_group.seq")
			div.panel-header.text-center
				span.subheader.fg-black {{task_group.title}}
				comment.text-muted.margin20 {{task_group.sub_title}}
			div.panel-content.nano
				div.nano-content
					div.panel.task-block(
					ng-repeat="task in task_group.task_list track by task.id", ng-click="detail($event, task)")
						div.panel-header TK-{{task.id}}
							span.task-status.place-right.fg-darkRed {{translateStatus(task.status)}}
						div.panel-content
							label.text-ellipsis.text-info {{translateCustomer(task.customer)}}
							label {{task.topic}}