#dashboard {
  height: ~"calc(100% - 45px)";
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  padding: 0;
  margin-top: 3px;

  & > .row {
    margin: 0;
    height: 100%;
  }

  .task-group{
    height: 100%;
    padding: 3px;

    .panel{
      height: 100%;
      margin-bottom: 0;
    }
  }

  .nano {
    height: ~"calc(100% - 45px)";
  }

  .nano-content{
    padding: 5px;
  }
}

.dashboard-title{
  height: 40px;

  >i, >span{
    font-size: 15pt;
    margin-top: 10px;
  }

  padding: 6px 20px;
}