
<!--Created by Bli on 2014/4/30.-->
<div class="view-header"><i class="icon-dashboard"></i><span class="subheader">任务板</span>
  <comment class="text-muted margin20">Dashboard</comment>
  <div class="place-right view-control-button-set">
    <button><i class="icon-filter"></i><span>过滤</span></button>
    <button><i class="icon-cog"></i><span>设置</span></button>
    <button><i class="icon-help-2"></i><span>帮助</span></button>
  </div>
</div>
<div id="dashboard" class="grid">
  <div class="row">
    <div ng-repeat="task_group in taskList track by task_group.seq" class="task-group panel">
      <div class="panel-header text-center"><span class="subheader">{{task_group.title}}</span>
        <comment class="text-muted margin20">{{task_group.sub_title}}</comment>
      </div>
      <div class="panel-content nano">
        <div class="nano-content">
          <div ng-repeat="task in task_group.task_list track by task.id" ng-click="detail($event, task)" class="panel task-block">
            <div class="panel-header">TK-{{task.id}}<span class="task-status place-right fg-darkRed">{{translateStatus(task.status)}}</span></div>
            <div class="panel-content">
              <label class="text-ellipsis text-info">{{translateCustomer(task.customer)}}</label>
              <label>{{task.topic}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>