//Created by bli on 2014/6/10.
#contract-editor-form.modal-dialog.modal-lg(ng-controller="contractEditorController")
	form.modal-content(ng-submit="Confirm('update', true)")
		div.modal-header
			button.close(type="button", data-dismiss="modal") &times;
			h4.modal-title 合同详情 &nbsp;
				small Contract Details
		div.modal-body.container-fluid
			h4 合同要义 &nbsp;
				small Contract Abstract
			hr
			div.row
				div.form-group.col-sm-4
					label.control-label 签定日期:
					div.input-group.date(date-field-model="dialog_data_model.contract_date")
						span.input-group-addon
							i.fa.fa-calendar
						input.form-control.datepicker(type="text")
				div.form-group.col-sm-4
					label.control-label 合同期限:
					div.input-group.date(date-field-model="dialog_data_model.contract_due_date")
						span.input-group-addon
							i.fa.fa-calendar
						input.form-control.datepicker(type="text")

			div.row
				div.form-group.col-sm-4
					label.control-label 甲方:
					div
						input.form-control(type="text", placeholder="甲方", ng-model="dialog_data_model.contract_A", auto-complete-field="employeeFieldOptions")
				div.form-group.col-sm-4
					label.control-label 乙方:
					div
						input.form-control(type="text", placeholder="乙方", ng-model="dialog_data_model.contract_B")

			div.row
				div.form-group.col-sm-4
					label.control-label 合同标的:
					div
						input.form-control(type="text", placeholder="合同标的", ng-model="dialog_data_model.contract_price")

			h4.cursor-pointer(data-toggle="collapse", data-target="#contract-editor-privilege")
				i.fa.fa-fw.fa-angle-down
				span 阅读权限  &nbsp;
					small Privileges
			hr
			#contract-editor-privilege.collapse.in
				div.row
					div.col-sm-12
						div.form-group
							div.btn-group(data-toggle="buttons")
								label.btn.btn-default(toggle-button-model="dialog_data_model.prop_internal")
									input(type="checkbox")
									span 内部浏览
								label.btn.btn-default(toggle-button-model="dialog_data_model.prop_external")
									input(type="checkbox")
									span 客户浏览

		div.modal-footer
			button.btn.btn-primary(type="submit") 保存
			button.btn.btn-default(type="button", ng-click="Cancel()") 取消

			div.pull-left
				button.btn.btn-danger(ng-if="prop.mode=='edit'", pop-confirm="emptyBtnOptions") 清空
			div.pull-left.alert-danger.panel(ng-show="prop.showErrorMessage")
				i.fa.fa-fw.fa-warning
				span 单据填写有误，请修正红色标记