doctype html
html(lang="zh", ng-app='app')
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		link(rel="apple-touch-startup-image", href="/startup.png")

		link(rel="apple-touch-startup-image", href="images/ipadLandscape.png", media="(device-width: 768px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)")
		link(rel="apple-touch-startup-image", href="images/ipadPortrait.png", media="(device-width: 768px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)")

		title= title
		link(rel='stylesheet', href='/css/angular-csp.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/css/jquery-ui-1.10.4.min.css')
		link(rel='stylesheet', href='/css/jquery.fileupload.css')
		link(rel='stylesheet', href='/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/bootstrap-tokenfield.min.css')
		link(rel='stylesheet', href='/css/tokenfield-typeahead.min.css')
		link(rel='stylesheet', href='/css/datepicker3.css')
		link(rel='stylesheet', href='/css/bootstrap-timepicker.min.css')

		link(rel='stylesheet', href='/css/client.css')

		//link(href='http://fonts.googleapis.com/css?family=Audiowide', rel='stylesheet', type='text/css')

	body.unselectable(ng-controller='appController')
		#sign-in(ng-include='"/src/platform/sign-in/sign-in-view.tpl.html"', ng-if="!hasSignIn")

		#top-bar.bleach-stage(ng-include='"/src/platform/top-bar/top-bar.tpl.html"', ng-if="hasSignIn")

		#right-stage.bleach-stage(ng-if="hasSignIn")
			#view-port.view-animate(ng-view)

		#modal-stage.modal.fade(role="dialog")
			div.modal-dialog

		//Load JS codes
		//AngularJS Core
		script(src='/lib/angular/angular.js')
		script(src='/lib/angular/angular-route.js')
		script(src='/lib/angular/angular-resource.js')
		script(src='/lib/angular/angular-sanitize.js')
		//script(src='/lib/angular/angular-animate.js')
		script(src='/lib/angular/angular-cookies.js')
		script(src='/lib/angular/angular-locale_zh-cn.js')
		//AngularJS plugins
		script(src='/lib/angular-plugin/angular-scroll.js')
		//jQuery Core
		script(src='/lib/jquery/jquery-1.11.1.min.js')
		//jQuery UI
		script(src='/lib/jquery/jquery-ui-1.10.4.min.js')
		//jQuery plugins
		script(src='/lib/jquery/jquery.caret.1.02.min.js')
		script(src='/lib/jquery/jquery.popconfirm.js')
		script(src='/lib/jquery/jquery.ba-outside-events.min.js')
		script(src='/lib/jquery/jquery.fileupload.js')
		script(src='/lib/jquery/jquery.editabletable.js')
		//Lo-Dash
		script(src='/lib/lodash/lodash.min.js')
		//Bootstrap
		script(src='/lib/bootstrap/bootstrap.min.js')
		//Boostrap plugins
		script(src='/lib/bootstrap/bootstrap-tokenfield.min.js')
		script(src='/lib/bootstrap/bootstrap-datepicker.js')
		script(src='/lib/bootstrap/bootstrap-datepicker.zh-CN.js')
		script(src='/lib/bootstrap/bootstrap-timepicker.min.js')
		//Typeahead JS
		script(src='/lib/typeaheadjs/typeahead.bundle.min.js')
		//ZeroClipboard
		script(src='/lib/zeroClipboard/ZeroClipboard.min.js')
		//Load product code
		- var jsFilesToAppend = jsFiles || [];
			each jsFile in jsFilesToAppend
				script(src= jsFile)