doctype html
html(ng-app='app')
	head
		title= title
		link(rel='stylesheet', href='/css/client.css')
		link(rel='stylesheet', href='/css/metro-bootstrap.css')
		link(rel='stylesheet', href='/css/loading-bar.min.css')
		link(rel='stylesheet', href='/css/hint.min.css')
		//link(href='http://fonts.googleapis.com/css?family=Audiowide', rel='stylesheet', type='text/css')

		//AngularJS plugins
		script(src='/lib/angular/angular.js')
		script(src='/lib/angular/loading-bar.min.js')
		script(src='/lib/angular/angular-route.js')
		script(src='/lib/angular/angular-resource.js')
		script(src='/lib/angular/angular-sanitize.js')

		//jQuery plugins
		script(src='/lib/jquery/jquery-2.1.0.js')
		script(src='/lib/jquery/jquery.widget.min.js')
		script(src='/lib/jquery/jquery.mousewheel.js')
		script(src='/lib/jquery/jquery.easing.min.js')
		script(src='/lib/jquery/jquery.dataTables.js')
		script(src='/lib/jquery/jquery.tabbable.js')
		script(src='/lib/jquery/jquery.caret.1.02.js')

		//Metro UI plugins
		script(src='/lib/metro/metro-loader.js')

		//Highcharts plugins
		script(src='/lib/highcharts/highcharts.src.js')
		script(src='/lib/highcharts/modules/no-data-to-display.src.js')

		//Load product code
		- var jsFilesToAppend = data || [];
			each jsFile in jsFilesToAppend
				script(src= jsFile)

	body.metro.unselectable(ng-controller='platformController')
		#preload-mask(preload-mask-directive, ng-show='enablePreload')
		#top-bar.bleach-stage(ng-include='"/src/platform/top-bar/top-bar.tpl.html"')
		#left-stage.bleach-stage(ng-include='"/src/platform/left-menu/left-menu.tpl.html"')
		#right-stage.bleach-stage
			#router-guide(ng-include='"/src/platform/router-guide/router-guide.tpl.html"')
			#view-port(ng-view)