doctype html
html(lang="zh", ng-app='app')
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		link(rel="apple-touch-startup-image", href="/startup.png")

		link(rel="apple-touch-startup-image", href="images/ipadLandscape.png", media="(device-width: 768px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)")
		link(rel="apple-touch-startup-image", href="images/ipadPortrait.png", media="(device-width: 768px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)")

		title= title
		link(rel='stylesheet', href='/css/angular-csp.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/css/jquery-ui-1.10.4.min.css')
		link(rel='stylesheet', href='/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/bootstrap-tokenfield.min.css')
		link(rel='stylesheet', href='/css/tokenfield-typeahead.min.css')
		link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')

		link(rel='stylesheet', href='/css/client.css')

		//link(href='http://fonts.googleapis.com/css?family=Audiowide', rel='stylesheet', type='text/css')

	body.unselectable(ng-controller='appController')
		#screen-mask
		#preload-mask(preload-mask-directive, ng-show='enablePreload')

		#top-bar.bleach-stage(ng-include='"/src/platform/top-bar/top-bar.tpl.html"')

		#left-stage.bleach-stage(ng-include='"/src/platform/left-menu-pop/left-menu-pop.tpl.html"')
		#right-stage.bleach-stage
			//#router-guide(ng-include='"/src/platform/router-guide/router-guide.tpl.html"')
			#view-port(ng-view)

		#modal-stage.modal.fade(tabindex="-1", role="dialog")
			div.modal-dialog


		//Load JS codes
		//AngularJS plugins
		script(src='/lib/angular/angular.min.js')
		script(src='/lib/angular/angular-route.min.js')
		script(src='/lib/angular/angular-resource.min.js')
		script(src='/lib/angular/angular-sanitize.min.js')
		script(src='/lib/angular/angular-locale_zh-cn.js')
		script(src='/lib/angular/angular-scroll.min.js')
		//jQuery plugins
		script(src='/lib/jquery/jquery-1.11.1.min.js')
		script(src='/lib/jquery/jquery-ui-1.10.4.min.js')
		script(src='/lib/jquery/jquery.caret.1.02.min.js')
		script(src='/lib/jquery/jquery.popconfirm.js')
		//Moment JS
		script(src='/lib/momentjs/moment.min.js')
		//Lo-Dash
		script(src='/lib/lodash/lodash.min.js')
		//Boostrap plugins
		script(src='/lib/bootstrap/bootstrap.min.js')
		script(src='/lib/bootstrap/bootstrap-tokenfield.min.js')
		script(src='/lib/bootstrap/bootstrap-datetimepicker.min.js')
		//Load product code
		- var jsFilesToAppend = jsFiles || [];
			each jsFile in jsFilesToAppend
				script(src= jsFile)