doctype html
html(ng-app='app')
	head
		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		link(rel="apple-touch-startup-image", href="/startup.png")

		link(rel="apple-touch-startup-image", href="images/ipadLandscape.png", media="(device-width: 768px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)")
		link(rel="apple-touch-startup-image", href="images/ipadPortrait.png", media="(device-width: 768px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)")

		title= title
		link(rel='stylesheet', href='/css/client.css')
		link(rel='stylesheet', href='/css/metro-bootstrap.css')
		link(rel='stylesheet', href='/css/loading-bar.min.css')
		link(rel='stylesheet', href='/css/hint.min.css')
		link(rel='stylesheet', href='/css/nanoscroller.css')
		link(rel='stylesheet', href='/css/bootstrap-tagsinput.css')
		//link(href='http://fonts.googleapis.com/css?family=Audiowide', rel='stylesheet', type='text/css')

		//AngularJS plugins
		script(src='/lib/angular/angular.js')
		script(src='/lib/angular/loading-bar.min.js')
		script(src='/lib/angular/angular-route.js')
		script(src='/lib/angular/angular-resource.js')
		script(src='/lib/angular/angular-sanitize.js')
		script(src='/lib/angular/bootstrap-tagsinput-angular.js')

		//jQuery plugins
		script(src='/lib/jquery/jquery-2.1.0.js')
		script(src='/lib/jquery/jquery.widget.min.js')
		script(src='/lib/jquery/jquery.mousewheel.js')
		script(src='/lib/jquery/jquery.easing.min.js')
		script(src='/lib/jquery/jquery.dataTables.js')
		script(src='/lib/jquery/jquery.tabbable.js')
		script(src='/lib/jquery/jquery.caret.1.02.js')
		script(src='/lib/jquery/jquery.nanoscroller.js')
		script(src='/lib/jquery/bootstrap-tagsinput.js')

		//Lo-Dash
		script(src='/lib/lodash/lodash.js')

		//Metro UI plugins
		script(src='/lib/metro/metro-loader.js')

		//Highcharts plugins
		script(src='/lib/highcharts/highcharts.src.js')
		script(src='/lib/highcharts/modules/no-data-to-display.src.js')

		//Load product code
		- var jsFilesToAppend = jsFiles || [];
			each jsFile in jsFilesToAppend
				script(src= jsFile)

	body.metro.unselectable(ng-controller='appController')
		#screen-mask
		#preload-mask(preload-mask-directive, ng-show='enablePreload')
		#top-bar.bleach-stage(ng-include='"/src/platform/top-bar/top-bar.tpl.html"')
		#left-stage.bleach-stage(ng-include='"/src/platform/left-menu-pop/left-menu-pop.tpl.html"')
		#right-stage.bleach-stage
			//#router-guide(ng-include='"/src/platform/router-guide/router-guide.tpl.html"')
			#view-port(ng-view)