//Created by bli on 2014/4/14.
div#family-member-editor.grid.user-input(keyboard-support)
	div.row
		div.span2
			label 成员姓名
			div.input-control.text
				input.auto-focus(type="text", placeholder="成员姓名", ng-model="dialog_data_model.jtcyxm", required)
				button.btn-clear
		div.span2
			label 关系
			div.input-control.text
				input(type="text", placeholder="关系", ng-model="dialog_data_model.ybrgx")
				button.btn-clear
		div.span2
			label 出生日期
			div.input-control.text(data-role="datepicker")
				input(type="text", placeholder="选择日期", ng-model="dialog_data_model.csrq")
				button.btn-date(tabindex="-1")
		div.span3
			label 工作单位
			div.input-control.text
				input(type="text", placeholder="工作单位", ng-model="dialog_data_model.gzdw")
				button.btn-clear
	div.row
		div.span3
			label 但任职位
			div.input-control.text
				input(type="text", placeholder="但任职位", ng-model="dialog_data_model.drzw")
				button.btn-clear
		div.span3
			label 政治面貌
			div.input-control.text
				input(type="text", placeholder="政治面貌", ng-model="dialog_data_model.zzmm")
				button.btn-clear
		div.span3
			label 联系电话
			div.input-control.text
				input(type="text", placeholder="联系电话", ng-model="dialog_data_model.lxdh")
				button.btn-clear

	div.row
	hr
	div.place-left(ng-show="showErrorMessage")
		span.fg-red 单据填写有误，请修正红色标记
	div.form-actions
		button.button.primary(ng-click="Confirm()") 保存
		button.button(type="button", ng-click="Cancel()") 取消
