
<!--Created by bli on 2014/4/14.-->
<div id="family-member-editor" keyboard-support="keyboard-support" class="grid user-input">
  <div class="row">
    <div class="span2">
      <label>成员姓名</label>
      <div class="input-control text">
        <input type="text" placeholder="成员姓名" ng-model="dialog_data_model.jtcyxm" required="required" class="auto-focus"/>
        <button class="btn-clear"></button>
      </div>
    </div>
    <div class="span2">
      <label>关系</label>
      <div class="input-control text">
        <input type="text" placeholder="关系" ng-model="dialog_data_model.ybrgx"/>
        <button class="btn-clear"></button>
      </div>
    </div>
    <div class="span2">
      <label>出生日期</label>
      <div data-role="datepicker" class="input-control text">
        <input type="text" placeholder="选择日期" ng-model="dialog_data_model.csrq"/>
        <button tabindex="-1" class="btn-date"></button>
      </div>
    </div>
    <div class="span3">
      <label>工作单位</label>
      <div class="input-control text">
        <input type="text" placeholder="工作单位" ng-model="dialog_data_model.gzdw"/>
        <button class="btn-clear"></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <label>但任职位</label>
      <div class="input-control text">
        <input type="text" placeholder="但任职位" ng-model="dialog_data_model.drzw"/>
        <button class="btn-clear"></button>
      </div>
    </div>
    <div class="span3">
      <label>政治面貌</label>
      <div class="input-control text">
        <input type="text" placeholder="政治面貌" ng-model="dialog_data_model.zzmm"/>
        <button class="btn-clear"></button>
      </div>
    </div>
    <div class="span3">
      <label>联系电话</label>
      <div class="input-control text">
        <input type="text" placeholder="联系电话" ng-model="dialog_data_model.lxdh"/>
        <button class="btn-clear"></button>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <hr/>
  <div ng-show="showErrorMessage" class="place-left"><span class="fg-red">单据填写有误，请修正红色标记</span></div>
  <div class="form-actions">
    <button ng-click="Confirm()" class="button primary">保存</button>
    <button type="button" ng-click="Cancel()" class="button">取消</button>
  </div>
</div>