//Created by Bohua on 2014-05-29.
div.page-header
	h2
		i.fa.fa-edit.fa-fw &nbsp;
		span 登记 &nbsp;
		small Register
		div.btn-group.pull-right
			button.btn.btn-default
				i.fa.fa-edit.fa-fw &nbsp;
				span 修改

#register-panel-group.panel-group
	div.panel.panel-default
		div.panel-heading.cursor-pointer
			h4.no-margin(data-toggle="collapse", href="#register-task-info-panel") 任务信息 &nbsp;
				small Task Information
		#register-task-info-panel.panel-collapse.collapse.in
			div.flex-container.panel-body
				div.flex-box
					label 任务状态:
					span {{translateStatus(dialog_data_model.status)}}

				div.flex-box
					label 任务主题:
					span {{dialog_data_model.slogan}}

				div.flex-box
					label 登记人:
					span {{dialog_data_model.reporter}}

				div.flex-box
					label 登记日期:
					span {{dialog_data_model.report_date}}

				div.flex-box
					label 担当人:
					span {{dialog_data_model.assignee}}

				div.flex-box
					label 处理方式:
					span {{dialog_data_model.handling}}

	div.panel.panel-default
		div.panel-heading.cursor-pointer
			h4.no-margin(data-toggle="collapse", href="#register-customer-info-panel") 客户信息 &nbsp;
				small Customer Information
		#register-customer-info-panel.panel-collapse.collapse.in
			div.flex-container.panel-body
				div.flex-box
					label 公司名称:
					span {{translateStatus(dialog_data_model.status)}}
				div.flex-box
					label 联系人:
					span {{translateStatus(dialog_data_model.status)}}
				div.flex-box
					label 公司地址:
					span {{translateStatus(dialog_data_model.status)}}
				div.flex-box
					label 联系电话:
					span {{translateStatus(dialog_data_model.status)}}
				div.flex-box
					label 电子邮箱:
					span {{translateStatus(dialog_data_model.status)}}


	div.panel.panel-default
		div.panel-heading.cursor-pointer
			h4.no-margin(data-toggle="collapse", href="#register-consulting-details-panel") 咨询信息 &nbsp;
				small Consulting Details
		#register-consulting-details-panel.panel-collapse.collapse.in
			div.flex-container.panel-body
				div.flex-box
					label 咨询方式:
					span(ng-show="dialog_data_model.prop_isEmail") 电子邮件
					span(ng-show="dialog_data_model.prop_isTel") 电话
					span(ng-show="dialog_data_model.prop_isF2F") 面谈
					span(ng-show="dialog_data_model.prop_isFax") 传真
				div.flex-box
					label 阅读权限:
					span(ng-show="dialog_data_model.prop_internal") 内部浏览
					span(ng-show="dialog_data_model.prop_external") 客户浏览
				div.flex-box
					label 咨询主题:
					span {{dialog_data_model.topic}}
				div.flex-box
					label 咨询事项:
					span {{dialog_data_model.description}} 战略咨询是指为企业提供管理、决策、市场、预测等领域的咨询服务。在战略咨询方面需要咨询公司专家有着多年的历史和经验，深厚的行业背景和知识积累，深入了解行业、敏锐洞察趋势。战略咨询是咨询公司根据企业的需求，运用战略管理理论、知识和自身的咨询经验，应用必要的技能和方法，在对企业内部拥有的资源和具备的能力以及外部环境进行深入分析的基础上，为企业提供战略制定、改善、实施和培训的咨询服务；在提供战略咨询服务时，主要通过专业顾问的问题诊断以及多位专家自身在行业内积累的洞见、商业手感，针对客户面临的战略环境、战略选择给出建议。

