//Created by bli on 2014/5/26.
div#price-tab-detail-editor-form.grid.view-form-sheet(ng-controller="priceTabDetailEditorController")
	fieldset(keyboard-support)
		span.item-title 价格信息
		comment.text-muted.margin15 Price Information
		div.expandable-section
			div.row
				div.span5
					label 服务内容
					div.input-control.text
						input(type="text", placeholder="服务内容", tab-start, required)
						//button.btn-clear
				div.span3
					label 服务时间
					div.input-control.text
						input(type="text", placeholder="服务时间")
						//button.btn-clear
			div.row
				div.span2
					label 服务费用
					div.input-control.text
						input(type="text", placeholder="0.00")
						//button.btn-clear
				div.span2
					label 交通费用
					div.input-control.text
						input(type="text", placeholder="0.00")
						//button.btn-clear
				div.span2
					label 公关费用
					div.input-control.text
						input(type="text", placeholder="0.00")

		attachment-manager

		div.dialog-contol-panel
			div.place-left
				button.button.danger(ng-click="delete()", ng-if="prop.mode=='edit'") 删除
			div.form-actions
				button.button.primary(ng-click="Confirm('update', true)") 保存
				button.button(type="button", ng-click="Cancel()") 取消
			div.place-right(ng-show="prop.showErrorMessage")
				span.fg-red.margin20.bg-grayLighter 单据填写有误，请修正红色标记