//Created by Bli on 2014/4/4.

div#rsda-form.grid.doodle-form-sheet
	div.tab-control(data-role="tab-control", data-effect="fade")
		ul.tabs
			li.active
				a(href="#_page_rsda_master")
					i.icon-user
					span 基本信息
			li
				a(href="#_page_rsda_extra")
					i.icon-tag
					span 扩充信息
			li
				a(href="#_page_rsda_family")
					i.icon-home
					span 家庭
			li
				a(href="#_page_rsda_experience")
					i.icon-history
					span 经历
			li
				a(href="#_page_rsda_skill")
					i.icon-wrench
					span 技能
			li
				a(href="#_page_rsda_certificate")
					i.icon-copy
					span 证照

			div.place-right.rsda-xzjl-func-button
				a.hint--bottom(data-hint="清空", ng-mousedown="empty($event)")
					i.icon-remove
			div.place-right.rsda-xzjl-func-button
				a.hint--bottom(data-hint="导出", ng-mousedown="export($event)")
					i.icon-file-excel
			div.place-right.rsda-xzjl-func-button
				a.hint--bottom(data-hint="打印", ng-mousedown="print($event)")
					i.icon-printer
			div.place-right.rsda-xzjl-func-button
				a.hint--bottom(data-hint="保存", ng-mousedown="save($event)")
					i.icon-download


		div.frames
			div.frame#_page_rsda_master
				include ../master-frame/rsda-xzjl-view-master-frame.tpl.jade
			div.frame#_page_rsda_extra
				include ../extra-frame/rsda-xzjl-view-extra-frame.tpl.jade
			div.frame#_page_rsda_family
				include ../family-member-frame/rsda-xzjl-view-family-frame.tpl.jade
			div.frame#_page_rsda_experience
				include ../experience-frame/rsda-xzjl-view-experience-frame.tpl.jade
			div.frame#_page_rsda_skill
				include ../skill-frame/rsda-xzjl-view-skill-frame.tpl.jade
			div.frame#_page_rsda_certificate
				include ../certificate-frame/rsda-xzjl-view-certificate-frame.tpl.jade
