//Colors
@green: #428bca; //1ec8a6
@green-light: rgb(213, 250, 237);
@green-dark: #179b82;
@blue: #00B7FF;
@blue-dark: #0067b0;
@grey: #eee;
@grey-light: rgba(248, 248, 248, 0.5);
@grey-lighter: rgba(225, 225, 225, .1);
@grey-border: #D9D9D9;
@grey-dark: #AAAAAA;
@grey-darker: #696969;
@black-bg: #4d4d4d;
@black-fg: #222222;
@white: #ffffff;
@red: #AA4643;
@red-dark: #740000;
@red-light: rgb(250, 196, 200);
@yellow: #ffa733;

@gray-darker: #222;
@gray-dark: #333;
@gray: #555;
@gray-light: #999;
@gray-lighter: #eee;

@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

.fg-darkRed {
  color: @red-dark;
}

.fg-white {
  color: @white;
}

//Sizes
@top-bar-height : 50px;
@left-panel-width : 300px;
@title-width: 100px;
@title-search-box-width: 300px;
@view-header-height: 40px;

//Fonts
@font: 'Microsoft Yahei';

@font-face {
  font-family: 'iconFont';
  src: url('/fonts/iconFont.eot');
  src: local('/fonts/iconFont'), local('/fonts/iconFont'), url("/fonts/iconFont.woff") format("woff"), url("/fonts/iconFont.otf") format("opentype"), url("/fonts/iconFont.svg") format("svg");
}

@font-face {
  font-family: 'glyphicons halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: local('/fonts/glyphicons-halflings-regular'), local('/fonts/glyphicons-halflings-regular'), url("/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/fonts/glyphicons-halflings-regular.otf") format("opentype"), url("/fonts/glyphicons-halflings-regular.svg") format("svg");
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: @grey-lighter;
}

span, legend, label, input, select, p, h1, h2, h3, h4, h5, h6 {
  font-family: @font !important;
}

input, select, textarea {
  &:hover {
    border: 1px solid @grey-darker !important;
  }
}

th {
  color: #274b6d;
}

.input-control button {
  box-shadow: none !important;
  &:hover {
    color: @grey-darker !important;
  }
}

.place-right {
  float: right;
}

.place-left {
  float: left;
}

.no-margin{
  margin: 0;
}

.margin5 {
  margin: 5px;

  &.v-only {
    margin-left: 0;
    margin-right: 0;
  }

  &.h-only {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.margin10 {
  margin: 10px;

  &.v-only {
    margin-left: 0;
    margin-right: 0;
  }

  &.h-only {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.margin15 {
  margin: 15px;

  &.v-only {
    margin-left: 0;
    margin-right: 0;
  }

  &.h-only {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.margin20 {
  margin: 20px;

  &.v-only {
    margin-left: 0;
    margin-right: 0;
  }

  &.h-only {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.subheader {
  font-size: 12pt;
}

.cursor-pointer {
  cursor: pointer;
}

thead {
  background-color: @gray-lighter;
  border-top: 1px solid @grey-border;
}

th{
  white-space: nowrap;
}

.label {
  font-size: 12pt;
  font-weight: normal;
}


.cursor-pointer {
  cursor: pointer;
}

.modal-footer .alert-danger{
  padding: 5px 20px;
  margin: 0;
}