//Created by bli on 2014/5/26.

span.item-title 附件列表
comment.text-muted.margin15 Attachment List
div.expandable-section
	div.row
		div.span10
			label 所属附件
			table.table.bordered
				thead
					tr
						th 文件名
						th 说明
						th 大小
						th 操作
				tbody
					tr(ng-repeat='row in dataList')
						td {{row.file_name}}
						td {{row.file_desc}}
						td {{row.file_size}}
						td.toolbar.transparent
							button(ng-click='DownloadFile(row.file_url)')
								i.icon-download 下载
							button(ng-click='DeleteFile(row.file_url)')
								i.icon-remove 删除
	div.row
		div.span2
			button.upload-button
				i.icon-upload-3
				span 上传附件
			input#fileupload(type="file", name="files[]", data-url="/file-upload")
	div.row
		div.progress-bar(data-role="progress-bar", data-color="#1ec8a6")

