
<!--Created by Bli on 2014/4/8.-->
<fieldset keyboard-support="keyboard-support">
  <legend><span class="text-muted">个人信息</span><span class="place-right text-muted view-form-legend">Personal Info</span></legend>
  <div ng-show="expandableSection.showPersonalInfoSection" class="expandable-section">
    <div class="row">
      <div class="span2">
        <label>姓名</label>
        <div data-role="input-control" class="input-control text">
          <input type="text" placeholder="输入姓名" ng-model="rsda_model.name" autofocus="autofocus" tab-start="tab-start"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>缩写</label>
        <div data-role="input-control" class="input-control text">
          <input type="text" placeholder="缩写" ng-model="rsda_model.py"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span1">
        <label>性别</label>
        <div class="input-control select">
          <select ng-model="rsda_model.xb">
            <option value="" default="default" selected="selected">无</option>
            <option value="0">男</option>
            <option value="1">女</option>
          </select>
        </div>
      </div>
      <div class="span2">
        <label>出生日期</label>
        <div data-role="datepicker" class="input-control text">
          <input type="text" placeholder="选择生日" ng-model="rsda_model.csrq"/>
          <button tabindex="-1" class="btn-date"></button>
        </div>
      </div>
      <div class="span1">
        <label>年龄</label>
        <div class="input-control text">
          <input type="text" placeholder="自动" disabled="disabled" ng-model="rsda_model.nl"/>
        </div>
      </div>
      <div class="span2">
        <label>政治面貌</label>
        <div class="input-control select">
          <select ng-model="rsda_model.zzmm">
            <option value=""></option>
            <option value="1">群众</option>
            <option value="2">团员</option>
            <option value="3">党员</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <label>民族</label>
        <div class="input-control select">
          <select ng-model="rsda_model.mz">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="span2">
        <label>婚姻状态</label>
        <div class="input-control select">
          <select ng-model="rsda_model.hyzt">
            <option value=""></option>
            <option value="1">未婚</option>
            <option value="2">已婚</option>
          </select>
        </div>
      </div>
      <div class="span2">
        <label>生份证号</label>
        <div class="input-control text">
          <input type="text" placeholder="身份证号" ,="," ng-model="rsda_model.sfzh"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>学历</label>
        <div class="input-control select">
          <select ng-model="rsda_model.xl">
            <option value=""></option>
            <option value="8">博士</option>
            <option value="7">硕士</option>
            <option value="6">本科</option>
            <option value="5">大专</option>
            <option value="4">中专</option>
            <option value="3">高中</option>
            <option value="2">初中</option>
            <option value="1">无</option>
          </select>
        </div>
      </div>
      <div class="span2">
        <label>学位</label>
        <div class="input-control select">
          <select ng-model="rsda_model.xw">
            <option value=""></option>
            <option value="1">群众</option>
            <option value="2">团员</option>
            <option value="3">党员</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <label>毕业时间</label>
        <iv data-role="datepicker" class="input-control text">
          <input type="text" placeholder="毕业时间" ng-model="rsda_model.bysj"/>
          <button tabindex="-1" class="btn-date"></button>
        </iv>
      </div>
      <div class="span4">
        <label>毕业院校</label>
        <div class="input-control text">
          <input type="text" placeholder="毕业学校/学院" ng-model="rsda_model.byxx"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span4">
        <label>专业</label>
        <div class="input-control text">
          <input type="text" placeholder="所学专业" ng-model="rsda_model.zy"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
  </div>
  <legend><span class="text-muted">职能信息</span><span class="place-right text-muted view-form-legend">Occupation Details</span></legend>
  <div ng-show="expandableSection.showCareerInfoSection" class="expandable-section">
    <div class="row">
      <div class="span3">
        <label>所属部门</label>
        <div class="input-control select">
          <select ng-model="rsda_model.ssbm">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="span2">
        <label>职位</label>
        <div class="input-control select">
          <select ng-model="rsda_model.zw">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="span2">
        <label>身份</label>
        <div class="input-control text">
          <input type="text" placeholder="身份" ng-model="rsda_model.sf"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span3">
        <label>行政级别</label>
        <div class="input-control select">
          <select ng-model="rsda_model.xzjb">
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <label>雇佣性质</label>
        <div class="input-control select">
          <select ng-model="rsda_model.gyxz">
            <option value=""></option>
            <option value="1">全民合同工</option>
            <option value="2">集体合同工</option>
            <option value="3">临时合同工</option>
          </select>
        </div>
      </div>
      <div class="span2">
        <label>参加工作时间</label>
        <div data-role="datepicker" class="input-control text">
          <input type="text" placeholder="选择日期" ng-model="rsda_model.cjgzdw_date"/>
          <button tabindex="-1" class="btn-date"></button>
        </div>
      </div>
      <div class="span2">
        <label>工龄</label>
        <div class="input-control text">
          <input type="text" placeholder="自动" disabled="disabled" ng-model="rsda_model.gl"/>
        </div>
      </div>
      <div class="span2">
        <label>参加本单位时间</label>
        <div data-role="datepicker" class="input-control text">
          <input type="text" placeholder="选择日期" ng-model="rsda_model.jbdw_date"/>
          <button tabindex="-1" class="btn-date"></button>
        </div>
      </div>
      <div class="span2">
        <label>本单位工龄</label>
        <div class="input-control text">
          <input type="text" placeholder="自动" disabled="disabled" ng-model="rsda_model.bdwgl"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <label>职称</label>
        <div class="input-control select">
          <select ng-model="rsda_model.zc">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="span2">
        <label>获得职称时间</label>
        <div data-role="datepicker" class="input-control text">
          <input type="text" placeholder="选择日期" ng-model="rsda_model.zc_date"/>
          <button tabindex="-1" class="btn-date"></button>
        </div>
      </div>
    </div>
  </div>
  <legend><span class="text-muted">联系方式</span><span class="place-right text-muted view-form-legend">Contact Info</span></legend>
  <div ng-show="expandableSection.showContactInfoSection" class="expandable-section">
    <div class="row">
      <div class="span4">
        <label>家庭住址</label>
        <div class="input-control text">
          <input type="text" placeholder="家庭住址" ng-model="rsda_model.jtdz"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>籍贯</label>
        <div class="input-control text">
          <input type="text" placeholder="籍贯" ng-model="rsda_model.jg"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>手机</label>
        <div class="input-control text">
          <input type="text" placeholder="手机" ng-model="rsda_model.sj"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>电话</label>
        <div class="input-control text">
          <input type="text" placeholder="电话" ng-model="rsda_model.dh"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <label>电子邮件</label>
        <div class="input-control text">
          <input type="text" placeholder="电子邮件" ng-model="rsda_model.email"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>住房</label>
        <div class="input-control select">
          <select ng-model="rsda_model.zf">
            <option value=""></option>
            <option value="1">单位住房</option>
            <option value="2">集体宿舍</option>
            <option value="3">个人住房</option>
            <option value="4">个人购房</option>
            <option value="5">其它住房</option>
          </select>
        </div>
      </div>
      <div class="span2">
        <label>暂住人口</label>
        <div class="input-control checkbox">
          <label>
            <input type="checkbox" ng-model="rsda_model.zzrk"/><span class="check"></span><span>是, 暂住人口</span>
          </label>
        </div>
      </div>
      <div class="span3">
        <label>暂住证号</label>
        <div class="input-control text">
          <input type="text" placeholder="暂住证号" ng-model="rsda_model.zzzh"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
  </div>
  <legend><span class="text-muted">工资信息</span><span class="place-right text-muted view-form-legend">Salary Talk</span></legend>
  <div ng-show="expandableSection.showSalaryInfoSection" class="expandable-section">
    <div class="row">
      <div class="span4">
        <label>工资发放方式</label>
        <div class="input-control select">
          <select ng-model="rsda_model.gzfffs">
            <option value=""></option>
            <option value="财政拨款"></option>
            <option value="教育局自筹资金"></option>
            <option value="教育局自筹资-预算卡外"></option>
            <option value="教育局自筹资-局自筹"></option>
            <option value="学校自筹资金"></option>
          </select>
        </div>
      </div>
      <div class="span2">
        <label>工资级别</label>
        <div class="input-control text">
          <input type="text" placeholder="工资级别" ng-model="rsda_model.gzjb"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>基本工资</label>
        <div class="input-control text">
          <input type="text" placeholder="0.00" ng-model="rsda_model.jbgz"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>级别工资</label>
        <div class="input-control text">
          <input type="text" placeholder="0.00" ng-model="rsda_model.jbgz2"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2">
        <label>工龄工资</label>
        <div class="input-control text">
          <input type="text" placeholder="0.00" ng-model="rsda_model.glgz"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>其它工资1</label>
        <div class="input-control text">
          <input type="text" placeholder="0.00" ng-model="rsda_model.qtgz1"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>其它工资2</label>
        <div class="input-control text">
          <input type="text" placeholder="0.00" ng-model="rsda_model.qtgz1"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span2">
        <label>其它工资3</label>
        <div class="input-control text">
          <input type="text" placeholder="0.00" ng-model="rsda_model.qtgz1"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <label>开户银行</label>
        <div class="input-control text">
          <input type="text" placeholder="开户银行" ng-model="rsda_model.bankmc"/>
          <button class="btn-clear"></button>
        </div>
      </div>
      <div class="span4">
        <label>银行帐号</label>
        <div class="input-control text">
          <input type="text" placeholder="银行帐号" ng-model="rsda_model.banknumber" tab-end="tab-end"/>
          <button class="btn-clear"></button>
        </div>
      </div>
    </div>
  </div>
</fieldset>