//Created by bli on 2014/5/13.
fieldset(keyboard-support)
	span.item-title 提案要义
	comment.text-muted.margin15 Proposal Abstract
	div.expandable-section
		div.row
			div.span4
				label 提案标的
				div.input-control.text
					input(type="text", placeholder="提案标的")
			div.span2
				label 提案日期
				div.input-control.text(date-picker-helper)
					input(type="text", placeholder="提案日期")
					button.btn-date(tabindex="-1")
			div.span2
				label 提案人
				div.input-control.text
					input(type="text", placeholder="提案人")
			div.span2
				label 翻译人
				div.input-control.text
					input(type="text", placeholder="翻译人")
		div.row
			div.span10
				label 咨询事项
				div.input-control.textarea
					textarea(placeholder="咨询事项", rows="10")