//Created by bli on 2014/5/13.
fieldset(keyboard-support)
	span.item-title 提案要义
	comment.text-muted.margin15 Proposal Abstract
	div.expandable-section
		div.row
			div.span4
				label 提案标的
				div.input-control.text
					input(type="text", placeholder="提案标的")
			div.span2
				label 提案日期
				div.input-control.text(date-picker-helper)
					input(type="text", placeholder="提案日期")
					button.btn-date(tabindex="-1")
			div.span2
				label 提案人
				div.input-control.text
					input(type="text", placeholder="提案人")
			div.span2
				label 翻译人
				div.input-control.text
					input(type="text", placeholder="翻译人")
		div.row
			div.span10
				label 标的内容
				div.input-control.textarea
					textarea(placeholder="标的内容", rows="10")

	span.item-title 附件列表
	comment.text-muted.margin15 Minutes of Meeting
	div.expandable-section
		div.row
			div.span10
				label 所属附件
				table.table.bordered
					thead
						tr
							th 名称
							th 文件名
							th 操作
					tbody
						tr
							td 宪法章程
							td Xianfazhangcheng.docx
							td.toolbar.transparent
								button
									i.icon-download 下载
								button
									i.icon-remove 删除
		div.row
			div.span3
				label 上传附件
				div.input-control.file
					input(type="file")
					button.btn-file
