//Created by Bli on 2014/5/5.
div.view-header(ng-show='showViewHeader')
	i.icon-arrow-left-3.view-header-icon(ng-click="getBack()")
	span.subheader(ng-if="dialog_data_model.id") 任务 TK-{{dialog_data_model.id}}
	span.subheader(ng-if="!dialog_data_model.id") 新建任务
	comment.text-muted.margin20 Task Editor
	div.view-control-button-set.place-right
		button
			i.icon-download-2
			span 保存
		div.button-dropdown
			button.dropdown-toggle
				i.icon-share
				span 提交
				i.icon-arrow-down-4
			ul.dropdown-menu.right-border-fix(data-role="dropdown")
				li(ng-repeat="precedence in statusStack track by $index")
					a(ng-click="console.log(precedence.nextStatus)") {{precedence.action}}
		div.button-dropdown
			button.dropdown-toggle
				i.icon-share-2
				span 其它
				i.icon-arrow-down-4
			ul.dropdown-menu.right-border-fix(data-role="dropdown")
				li: a 删除

	div.abstract-panel.grid
		div.row
			div.span4
				label 主题 :
					span.text-content  {{dialog_data_model.topic}}
			div.span2
				label 状态 :
					span.text-content  {{translateEmployee(dialog_data_model.status)}}
			div.span2
				label 报告人 :
					span.text-content  {{translateEmployee(dialog_data_model.reporter)}}
			div.span2
				label 担当人 :
					span.text-content  {{translateEmployee(dialog_data_model.assignee)}}
		div.row
			div.span4
				label 客户 :
					span.text-content  {{translateCustomer(dialog_data_model.customer)}}
			div.span2
				label 联系人 :
					span.text-content  {{translateEmployee(dialog_data_model.assignee)}}
			div.span2
				label 电话 :
					span.text-content  {{translateEmployee(dialog_data_model.customer)}}
			div.span3
				label 邮箱 :
					span.text-content  {{translateEmployee(dialog_data_model.customer)}}




div#task-editor-form.grid.view-form-sheet
	div.dialog-content-panel
		div.tab-control(data-role="tab-control", data-effect="fade")
			ul.tabs
				li.active
					a(href="#_page_master")
						i.icon-tag
						span 登记
				li(ng-show="dialog_data_model.status > 110")
					a(href="#_page_arrange")
						i.icon-eye-2
						span 审核
				li(ng-show="dialog_data_model.status > 120")
					a(href="#_page_reply")
						i.icon-reply-2
						span 回复
				li(ng-show="dialog_data_model.status >= 200")
					a(href="#_page_proposal")
						i.icon-bookmark-2
						span 提案
				li(ng-show="dialog_data_model.status >= 200")
					a(href="#_page_proposal")
						i.icon-bookmark-2
						span 报价
				li(ng-show="dialog_data_model.status >= 300")
					a(href="#_page_contract")
						i.icon-cycle
						span 合同
				li(ng-show="dialog_data_model.status >= 300")
					a(href="#_page_contract")
						i.icon-cycle
						span 执行
				li(ng-show="dialog_data_model.status >= 300")
					a(href="#_page_contract")
						i.icon-cycle
						span 收款
				li(ng-show="dialog_data_model.status >= 300")
					a(href="#_page_contract")
						i.icon-cycle
						span 完成
				li(ng-show="dialog_data_model.status >= 400")
					a(href="#_page_close")
						i.icon-stats-up
						span 催款
				li(ng-show="dialog_data_model.status >= 400")
					a(href="#_page_close")
						i.icon-stats-up
						span 汇总

			div.frames
				div.frame#_page_master
					include task-editor-view-master-tab.tpl.jade
				div.frame#_page_arrange
					include task-editor-view-arrange-tab.tpl.jade
				div.frame#_page_reply
					include task-editor-view-reply-tab.tpl.jade
				div.frame#_page_proposal
					include task-editor-view-proposal-tab.tpl.jade
				div.frame#_page_contract
					include task-editor-view-contract-tab.tpl.jade
				div.frame#_page_close
					include task-editor-view-close-tab.tpl.jade

	div.dialog-contol-panel(ng-show='showDialogFooter')
		div.place-left
			button.button.danger(ng-click="delete()", ng-if="prop.mode=='edit'") 删除
		div.form-actions
			button.button.primary(ng-click="Confirm('update', true)") 保存
			button.button(type="button", ng-click="Cancel()") 关闭
		div.place-right(ng-show="prop.showErrorMessage")
			span.fg-red.margin20.bg-grayLighter 单据填写有误，请修正红色标记