#task-editor-form {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: ~"calc(100% - 53px)";

  .row {
    height: 100%;
  }
}

#task-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  section {
    padding-bottom: 50px;
  }

  section:last-child {
    min-height: 600px;
  }
}

#task-side-nav {
  padding-top: 10px;

  a {
    font-size: 20px;
    color: @black-bg;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 1px 30px 1px 7px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    background: none;

    &.active {
      border: 2px solid @primary;
      background-color: @gray-lighter;
    }

    &.disabled {
      cursor: not-allowed;
      color: @gray-light;

      /*&:hover {
        background: none;
      }*/
    }

    /*&:hover:not(.active):not(.disabled) {
      border: 2px solid @gray-light;
      background-color: @gray-lighter;
    }*/

    &.finished {
      i {
        color: @primary;
      }

      .progress-line {
        background: @primary;
      }
    }

    &.ongoing {
      .progress-line {
        background: @gray-light;
      }
    }
  }

  .task-progress-indicator {
    margin-right: 20px;
    //vertical-align: middle;
  }

  .progress-line {
    width: 4px;
    height: 27px;
    position: absolute;
    background: #999999;
    left: 14px;
    top: 23px;
    z-index: 999;
  }
}

.task-header {
  font-size: 12pt;
  padding: 0;
  margin: 0;
  white-space: nowrap;

  h3 {
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;

    small {
      margin-left: 10px;
    }
  }

  a{
    font-size: 12pt;
  }
}

.task-topic {
  font-size: 14pt;
  line-height: 22px;
  position: absolute;
  top: 15px;
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-container {
  display: flex;
  font-size: 12pt;
  flex-wrap: wrap;

  .flex-box {
    display: flex;

    min-width: 270px;
    margin-bottom: 5px;

    @media (min-width: 992px),  (min-width: 992px), (min-width: 768px) {
      margin-right: 50px;
    }

    label {
      margin-right: 20px;
      white-space: nowrap;
      min-width: 80px;
    }

    span {
      margin-right: 10px;
    }
  }
}

#task-footer {
  height: 120px;
  width: 100%;
  border-top: 1px solid @gray-light;
  margin: 100% 0 0 0;

  flex-wrap: nowrap;

  padding: 0px 20px 10px 0px;
  align-items: baseline;

  h5{
    white-space: nowrap;
  }

  .company-copy-right{
    position: relative;
    top: 20px;
  }
}

.attachment-token {
  &:hover, &:active{
    color: @blue-dark !important;
  }

  font-size: 11pt;
  background-color: @gray-lighter;
  color: @black-bg;
  border: 1px solid @grey-border;
  margin-right: 10px;
  font-weight: normal;
}

#task-disable-mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(225,225, 225, .5);
  z-index: 999;
  text-align: center;
  padding: 30px;

  button{
    margin: 20px;
  }

  strong{
    color: @brand-primary !important;
  }
}