//Created by Bli on 2014/5/5.
						//div.view-header
							div.view-topic-span
								i.icon-arrow-left-3.view-header-icon(ng-click="getBack()")
								span.subheader(ng-if="dialog_data_model.id") 任务
									span.text-info(ng-click="toggleAbstract()") TK-{{dialog_data_model.id}}
								span.subheader(ng-if="!dialog_data_model.id") 新建任务
								comment.text-muted.margin20 Task Editor
	//div.btn-group.place-right
		button.btn.btn-default
			i.icon-download-2
			span 保存
		div.btn-group
			button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
				i.icon-share
				span 提交
				span.caret
			ul.dropdown-menu
				li(ng-repeat="precedence in statusStack track by $index")
					a(ng-click="console.log(precedence.nextStatus)") {{precedence.action}}
		div.btn-group
			button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
				i.icon-share-2
				span 其它
				span.caret
			ul.dropdown-menu
				li: a 删除

	//div.abstract-panel.grid(ng-show="showAbstract")
		div.row
			div.span4
				label 主题 :
					span.text-content  {{dialog_data_model.topic}}
			div.span2
				label 状态 :
					span.text-content  {{translateEmployee(dialog_data_model.status)}}
			div.span2
				label 报告人 :
					span.text-content  {{translateEmployee(dialog_data_model.reporter)}}
			div.span2
				label 担当人 :
					span.text-content  {{translateEmployee(dialog_data_model.assignee)}}
		div.row
			div.span4
				label 客户 :
					span.text-content  {{translateCustomer(dialog_data_model.customer)}}
			div.span2
				label 联系人 :
					span.text-content  {{translateEmployee(dialog_data_model.assignee)}}
			div.span2
				label 电话 :
					span.text-content  {{translateEmployee(dialog_data_model.customer)}}
			div.span3
				label 邮箱 :
					span.text-content  {{translateEmployee(dialog_data_model.customer)}}

div.navbar.navbar-default.task-header
	div.container-fluid
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#task-control-collapse")
				span.sr-only
				span.icon-bar
				span.icon-bar
				span.icon-bar

		span.navbar-left.task-topic 任务: TK-{{dialog_data_model.id}}
			small &nbsp;{{dialog_data_model.topic}}

		#task-control-collapse.collapse.navbar-collapse.row
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-share-square-o.fa-fw &nbsp;
						span.cursor-pointer 提交
						b.caret
					ul.dropdown-menu
						li(ng-repeat="precedence in statusStack track by $index")
							a(ng-click="console.log(precedence.nextStatus)")
								span {{precedence.action}}
				li.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-share-square-o.fa-fw &nbsp;
						span.cursor-pointer 其它
						b.caret
					ul.dropdown-menu
						li
							a.cursor-pointer
								i.fa.fa-trash-o.fa-fw &nbsp;删除

#task-editor-form.container-fluid
	div.row
		nav#task-side-nav.col-md-2.col-sm-3.col-lg-2.hidden-xs(du-scroll-container="task-content")
			ul.nav.nav-list.affix
				li
					a.finished(href="#page_master", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						span 登记
						div.progress-line
				li
					a.finished(href="#page_arrange", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						span 审核
						div.progress-line
				li
					a.finished(href="#page_reply", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						span 回复
						div.progress-line
				li
					a.ongoing(href="#page_proposal", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						span 提案
						div.progress-line
				li
					a.disabled
						i.fa.fa-circle.task-progress-indicator
						span 报价
						div.progress-line
				li
					a.disabled
						i.fa.fa-circle.task-progress-indicator
						span 合同
						div.progress-line
				li
					a.disabled
						i.fa.fa-circle.task-progress-indicator
						span 汇总

		#task-content.col-md-10.col-sm-9.col-lg-10(du-scroll-container)
			section#page_master
				include 1-register-section/register-section.jade
			section#page_arrange
				include 2-arrange-section/arrange-section.jade
			section#page_reply
				include 3-reply-section/reply-section.jade
			section#page_proposal
				include task-editor-view-proposal-tab.tpl.jade
			section#page_price
				include price-tab/price-tab-view.tpl.jade
			section#page_contract
				include task-editor-view-contract-tab.tpl.jade
			section#page_close
				include task-editor-view-close-tab.tpl.jade


//div#task-editor-form.grid.view-form-sheet
	div.dialog-content-panel
		div.tab-control(data-role="tab-control", data-effect="fade")
			ul.tabs
				li.active
					a(href="#page_master")
						i.icon-tag
						span 登记
				li(ng-show="dialog_data_model.status > 110")
					a(href="#page_arrange")
						i.icon-eye-2
						span 审核
				li(ng-show="dialog_data_model.status > 120")
					a(href="#page_reply")
						i.icon-reply-2
						span 回复
				li(ng-show="dialog_data_model.status >= 200")
					a(href="#page_proposal")
						i.icon-bookmark-2
						span 提案
				li(ng-show="dialog_data_model.status >= 200")
					a(href="#page_price")
						i.icon-cart-2
						span 报价
				li(ng-show="dialog_data_model.status >= 300")
					a(href="#page_contract")
						i.icon-auction
						span 合同
				li(ng-show="dialog_data_model.status >= 300")
					a(href="#page_contract")
						i.icon-cycle
						span 执行
				li(ng-show="dialog_data_model.status >= 300")
					a(href="#page_contract")
						i.icon-coins
						span 收款
				li(ng-show="dialog_data_model.status >= 300")
					a(href="#page_contract")
						i.icon-history
						span 完成
				li(ng-show="dialog_data_model.status >= 400")
					a(href="#page_close")
						i.icon-stats-up
						span 汇总

			div.frames
				div.frame#page_master
					include task-editor-view-master-tab.tpl.jade
				div.frame#page_arrange
					include task-editor-view-arrange-tab.tpl.jade
				div.frame#page_reply
					include task-editor-view-reply-tab.tpl.jade
				div.frame#page_proposal
					include task-editor-view-proposal-tab.tpl.jade
				div.frame#page_price
					include price-tab/price-tab-view.tpl.jade
				div.frame#page_contract
					include task-editor-view-contract-tab.tpl.jade
				div.frame#page_close
					include task-editor-view-close-tab.tpl.jade

	div.dialog-contol-panel(ng-show='showDialogFooter')
		div.place-left
			button.button.danger(ng-click="delete()", ng-if="prop.mode=='edit'") 删除
		div.form-actions
			button.button.primary(ng-click="Confirm('update', true)") 保存
			button.button(type="button", ng-click="Cancel()") 关闭
		div.place-right(ng-show="prop.showErrorMessage")
			span.fg-red.margin20.bg-grayLighter 单据填写有误，请修正红色标记