#task-editor-form{
  overflow: auto;
  height: ~"calc(100% - 53px)";

  .row{
    //height: 100%;
  }
}

#task-content{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  section{
    margin-bottom: 80px;
  }

  section:last-child{
    min-height: 600px;
  }
}

#task-side-nav{
  padding-top: 10px;

  a{
    font-size: 20px;
    color: @black-bg;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 1px 30px 1px 7px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    background: none;

    &.active{
      border: 2px solid @green;
      background-color: @gray-lighter;
    }

    &.disabled{
      cursor: not-allowed;
      color: @gray-light;

      &:hover{
        background: none;
      }
    }

    &:hover:not(.active):not(.disabled){
      border: 2px solid @gray-light;
      background-color: @gray-lighter;
    }

    &.finished{
      i{
        color: @green;
      }

      .progress-line{
        background: @green;
      }
    }
  }

  .task-progress-indicator{
    margin-right: 20px;
    //vertical-align: middle;
  }

  .progress-line{
    width: 4px;
    height: 27px;
    position: absolute;
    background: #999999;
    left: 14px;
    top: 23px;
    z-index: 999;
  }
}

.task-header{
  padding: 0;
  margin: 0;
  white-space: nowrap;

  h3{
    margin-top: 12px;
    overflow: hidden;
    text-overflow: ellipsis;

    small{
      margin-left: 10px;
    }
  }
}

.task-topic{
  font-size: 14pt;
  line-height: 22px;
  position: absolute;
  top: 15px;
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-container{
  display: flex;
  font-size: 12pt;
  flex-wrap: wrap;

  .flex-box {
    display: flex;
    margin-right: 50px;
    min-width: 270px;
    margin-bottom: 5px;

    label {
      margin-right: 20px;
      white-space: nowrap;
      min-width: 80px;
    }

    span {
      margin-right: 10px;
    }
  }
}

#task-footer{
  height: 120px;
  width: 100%;
  border-top: 1px solid @gray-light;
  margin: 0;

  flex-wrap: nowrap;

  padding: 10px 20px;
  align-items: baseline;

  div{
    margin-right: 50px;
  }
}