//Created by bli on 2014/5/9.
fieldset(keyboard-support)
	span.item-title 分配方式
	comment.text-muted.margin15 Assignments
	div.expandable-section
		div.row
			div.span2
				label 担当人
				div.input-control.select
					select(ng-model="dialog_data_model.assignee")
						option(ng-repeat="employee in employeeList" value="{{employee.id}}") {{employee.name}}
			div.span2
				label 处理方式
				div.input-control.select
					select(ng-model="dialog_data_model.handling")
						option(value = 0) 解答回复
						option(value = 1) 提案回复

	span.item-title 时间安排
	comment.text-muted.margin15 Time window
	div.expandable-section
		div.row
			div.span3
				label 启始日期
				div.input-control.text(date-picker-helper)
					input(type="text", placeholder="启始日期", ng-model="startdate")
					button.btn-date(tabindex="-1")
			div.span3
				label 结束日期
				div.input-control.text(date-picker-helper)
					input(type="text", placeholder="结束日期", ng-model="enddate")
					button.btn-date(tabindex="-1")

	span.item-title 补充信息
	comment.text-muted.margin15 Memo
	div.expandable-section
		div.row
			div.span10
				label 分配审核意见
				div.input-control.textarea
					textarea(placeholder="咨询事项", ng-model="dialog_data_model.description", tab-end)
