//Created by bli on 2014/5/9.
fieldset(keyboard-support)
	span.item-title 任务信息
	comment.text-muted.margin15 Task Information
	div.expandable-section
		div.row
			div.span2
				label 任务状态
				span.fg-darkRed.text-content {{translateStatus(dialog_data_model.status)}}
			div.span4
				label 客户公司
				div.input-control.text
					input(type="text", placeholder="公司名称", value="{{translateCustomer(dialog_data_model.customer)}}", autofocus, tab-start, list="customer_list")
					datalist#customer_list
						option(ng-repeat="customer in customerList") {{customer.name}}
			div.span2
				label 担当人
				div.input-control.select
					select(ng-model="dialog_data_model.assignee")
						option(ng-repeat="employee in employeeList" value="{{employee.id}}") {{employee.name}}
			div.span2
				label 处理方式
				div.input-control.text
					input(type="text", placeholder="处理方式", ng-model="dialog_data_model.handling")

	span.item-title 咨询信息
	comment.text-muted.margin15 Consulting Details
	div.expandable-section
		div.row
			div.span10
				label 咨询主题
				div.input-control.text
					input(type="text", placeholder="咨询主题", ng-model="dialog_data_model.topic", required)
		div.row
			div.span10
				label 咨询事项
				div.input-control.textarea
					textarea(placeholder="咨询事项", ng-model="dialog_data_model.description", tab-end)

	div.row
		div.span5
			span.item-title 咨询方式
			comment.text-muted.margin15 Incoming way
			div.expandable-section
				div.input-control.checkbox
					label
						input(type="checkbox", ng-model="dialog_data_model.prop_isEmail")
						span.check
						span 电子邮件
				div.input-control.checkbox
					label
						input(type="checkbox", ng-model="dialog_data_model.prop_isTel")
						span.check
						span 电话
				div.input-control.checkbox
					label
						input(type="checkbox", ng-model="dialog_data_model.prop_isF2F")
						span.check
						span 面谈
				div.input-control.checkbox
					label
						input(type="checkbox", ng-model="dialog_data_model.prop_isFax")
						span.check
						span 传真
		div.span5
			span.item-title 阅读权限
			comment.text-muted.margin15 Permissions
			div.expandable-section
				div.input-control.checkbox
					label
						input(type="checkbox", ng-model="dialog_data_model.prop_internal")
						span.check
						span 内部浏览
				div.input-control.checkbox
					label
						input(type="checkbox", ng-model="dialog_data_model.prop_external")
						span.check
						span 客户浏览

