//Created by Bli on 2014/5/5.
#task-disable-mask
	div.panel.panel-default
		h2
			span 您没有浏览本任务的权限
		button.btn.btn-default.btn-lg(ng-click="back()")
			i.fa.fa-reply.fa-fw &nbsp;
			span 返回任务板

div.navbar.navbar-default.task-header
	div.container-fluid
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#task-control-collapse")
				span.sr-only
				span.icon-bar
				span.icon-bar
				span.icon-bar

		span.navbar-left.task-topic 任务: TK-{{task_model.id}}
			small.hidden-xs &nbsp;{{task_model.slogan}}

		#task-control-collapse.collapse.navbar-collapse.row
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-bookmark-o.fa-fw &nbsp;
						span.cursor-pointer 单据
						b.caret
					ul.dropdown-menu(du-scroll-container="task-content")
						li(ng-repeat="p in progressList", ng-if="getProgressState(p.code) != 'disabled'")
							a(href="{{p.href}}", du-smooth-scroll, offset="30", ng-click="closeToggle()")
								icon.fa.fa-fw(class="{{p.icon}}")
								span &nbsp;&nbsp;{{p.title}}

						li.nav-divider

						li
							a(href="#page_expense", du-smooth-scroll, offset="30", ng-click="closeToggle()")
								icon.fa.fa-rmb.fa-fw &nbsp;
								span &nbsp;&nbsp;费用

				li.dropdown(ng-if="canEdit", ng-show="task_model.status<800")
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-share-square-o.fa-fw &nbsp;
						span.cursor-pointer 提交
						b.caret
					ul.dropdown-menu
						li(ng-repeat="precedence in statusStack track by $index")
							a.cursor-pointer(ng-click="onStatusChange(precedence.nextStatus)")
								i.fa.fa-fw(class="{{precedence.icon}}")
								span &nbsp;&nbsp;{{precedence.action}}
				li.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-cog.fa-fw &nbsp;
						span.cursor-pointer 其它
						b.caret
					ul.dropdown-menu
						li
							a.cursor-pointer(ng-if="canEdit", ng-click="deleteTask()")
								i.fa.fa-trash-o.fa-fw
								span &nbsp;&nbsp;删除任务 TK-{{task_model.id}}
#task-editor-form.container-fluid
	div.row
		nav#task-side-nav.col-sm-3.col-md-2.hidden-xs(du-scroll-container="task-content")
			ul.nav.nav-list.affix
				li(ng-repeat="p in progressList")
					a(ng-if="getProgressState(p.code) != 'disabled'", class="{{getProgressState(p.code)}}", href="{{p.href}}", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.task-progress-indicator(ng-class="{'ongoing': 'fa-circle-o', 'finished': 'fa-circle', 'disabled': 'fa-circle'}[getProgressState(p.code)]")
						icon.fa.fa-fw(class="{{p.icon}}")
						span {{p.title}}
						div.progress-line(ng-if="!$last")

					a.disabled(ng-if="getProgressState(p.code) == 'disabled'")
						i.fa.task-progress-indicator.fa-circle
						icon.fa.fa-fw(class="{{p.icon}}")
						span {{p.title}}
						div.progress-line(ng-if="!$last")

				li.nav-divider

				li
					a.finished.cursor-pointer(popup-dialog,dialog-config="expenseEditorConfig",ng-click="showExpenseEditor($event, getExpenseModel())",on-confirm="onExpenseSaved(action, data)")
						i.fa.fa-circle.task-progress-indicator
						icon.fa.fa-rmb.fa-fw &nbsp;
						span 费用
					a.finished.cursor-pointer(popup-dialog,dialog-config="appointmentDetailEditorConfig",ng-click="showAppointmentDetailEditor($event, getAppointmentDetailModel())", on-confirm="onAppointmentDetailSaved(action, data)")
						i.fa.fa-circle.task-progress-indicator
						icon.fa.fa-calendar-o.fa-fw &nbsp;
						span 面谈
					a.finished.cursor-pointer(popup-dialog,dialog-config="reminderDetailEditorConfig",ng-click="showReminderDetailEditor($event, getReminderDetailModel())", on-confirm="onReminderDetailSaved(action, data)")
						i.fa.fa-circle.task-progress-indicator
						icon.fa.fa-bullhorn.fa-fw &nbsp;
						span 催款

		#task-content.col-sm-9.col-md-10
			section#page_register(ng-if="getProgressState(100) != 'disabled'")
				include 1-register-section/register-section.tpl.jade
			section#page_arrange(ng-if="getProgressState(200) != 'disabled'")
				include 2-arrange-section/arrange-section.tpl.jade
			section#page_reply(ng-if="getProgressState(300) != 'disabled'")
				include 3-reply-section/reply-section.tpl.jade
			section#page_proposal(ng-if="getProgressState(500) != 'disabled'")
				include 4-proposal-section/proposal-section.tpl.jade
			section#page_contract(ng-if="getProgressState(600) != 'disabled'")
				include 5-contract-section/contract-section.tpl.jade
			section#page_execute(ng-if="getProgressState(600) != 'disabled'")
				include 6-execute-section/execute-section.tpl.jade
			section#page_account(ng-if="getProgressState(600) != 'disabled'")
				include 7-account-section/account-section.tpl.jade
			section#page_summary(ng-if="getProgressState(700) != 'disabled'")
				include 8-summary-section/summary-section.tpl.jade
			section#page_closed(ng-if="getProgressState(800) != 'disabled'")


			#task-footer
				div.text-center
					h3
						i.fa.fa-paper-plane.fa-fw &nbsp;
						span CBMS
					span Consulting Business Management System

				//div.pull-right.company-copy-right
					h5 Copyright &copy;1995-2014 PRESTIGE LTD SHANGHAI
					h5 版权所有 &copy;1995-2014 中国上海久富科技有限公司

