//Created by bli on 2014/5/9.
fieldset(keyboard-support)
	span.item-title 任务信息
	comment.text-muted.margin15 Customer Information
	div.expandable-section
		div.row
			div.span2
				label 任务状态
				div.input-control.select
					select(ng-model="dialog_data_model.status")
						option(ng-repeat="status in statusStack" value="{{status.nextStatus}}") {{status.action}}
			div.span4
				label 客户公司
				div.input-control.text
					input(type="text", placeholder="公司名称", value="{{translateCustomer(dialog_data_model.customer)}}", autofocus, tab-start, list="customer_list")
					datalist#customer_list
						option(ng-repeat="customer in customerList") {{customer.name}}
			div.span2
				label 担当人
				div.input-control.select
					select(ng-model="dialog_data_model.assignee")
						option(ng-repeat="employee in employeeList" value="{{employee.id}}") {{employee.name}}
			div.span2
				label 处理方式
				div.input-control.text
					input(type="text", placeholder="处理方式", ng-model="dialog_data_model.handling")
					button.btn-clear

	span.item-title 咨询信息
	comment.text-muted.margin15 Consulting Details
	div.expandable-section
		div.row
			div.span10
				label 咨询主题
				div.input-control.text
					input(type="text", placeholder="咨询主题", ng-model="dialog_data_model.topic", required)
					button.btn-clear
		div.row
			div.span10
				label 咨询事项
				div.input-control.textarea
					textarea(placeholder="咨询事项", ng-model="dialog_data_model.description", tab-end)

