//Created by Bli on 2014/5/5.
div.navbar.navbar-default.task-header
	div.container-fluid
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#task-control-collapse")
				span.sr-only
				span.icon-bar
				span.icon-bar
				span.icon-bar

		span.navbar-left.task-topic 任务: TK-{{dialog_data_model.id}}
			small &nbsp;{{dialog_data_model.topic}}

		#task-control-collapse.collapse.navbar-collapse.row
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-share-square-o.fa-fw &nbsp;
						span.cursor-pointer 提交
						b.caret
					ul.dropdown-menu
						li(ng-repeat="precedence in statusStack track by $index")
							a(ng-click="console.log(precedence.nextStatus)")
								span {{precedence.action}}
				li.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-share-square-o.fa-fw &nbsp;
						span.cursor-pointer 其它
						b.caret
					ul.dropdown-menu
						li
							a.cursor-pointer
								i.fa.fa-trash-o.fa-fw &nbsp;删除

#task-editor-form.container-fluid(du-scroll-container)
	div.row
		nav#task-side-nav.col-md-2.col-sm-3.col-lg-2.hidden-xs(du-scroll-container="task-editor-form")
			ul.nav.nav-list.affix
				li
					a.finished(href="#page_master", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						icon.fa.fa-edit.fa-fw &nbsp;
						span 登记
						div.progress-line
				li
					a.finished(href="#page_arrange", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						icon.fa.fa-share-alt.fa-fw &nbsp;
						span 审核
						div.progress-line
				li
					a.finished(href="#page_reply", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						icon.fa.fa-comments-o.fa-fw &nbsp;
						span 解答
						div.progress-line
				li
					a.finished(href="#page_proposal", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						icon.fa.fa-book.fa-fw &nbsp;
						span 提案
						div.progress-line
				//li
					a.finished(href="#page_price", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						span 提按报价
						div.progress-line
				li
					a.finished(href="#page_contract", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						icon.fa.fa-legal.fa-fw &nbsp;
						span 合同
						div.progress-line
				li
					a.finished(href="#page_execute", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						icon.fa.fa-history &nbsp;
						span 执行
						div.progress-line
				li
					a.finished(href="#page_account", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						icon.fa.fa-bank.fa-fw &nbsp;
						span 收款
						div.progress-line
				//li
					a.finished(href="#page_confirm", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						span 完成确认
						div.progress-line
				//li
					a.finished(href="#page_settle", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						span 费用结算
						div.progress-line
				li
					a.ongoing(href="#page_summary", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle-o.task-progress-indicator
						icon.fa.fa-suitcase.fa-fw &nbsp;
						span 汇总

				li.nav-divider

				li
					a.finished(href="#page_expense", du-smooth-scroll, du-scrollspy, offset="30")
						i.fa.fa-circle.task-progress-indicator
						icon.fa.fa-rmb.fa-fw &nbsp;
						span 费用

		#task-content.col-md-10.col-sm-9.col-lg-10
			section#page_master
				include 1-register-section/register-section.jade
			section#page_arrange
				include 2-arrange-section/arrange-section.jade
			section#page_reply
				include 3-reply-section/reply-section.jade
			section#page_proposal
				include 4-proposal-section/proposal-section.jade
			section#page_contract
				include 5-contract-section/contract-section.jade
			section#page_execute
			section#page_account
			section#page_confirm
			section#page_settle
			section#page_summary


	#task-footer.flex-container
		div
			h5 Copyright &copy;1995-2014 PRESTIGE LTD SHANGHAI CHINA
			h5 版权所有 &copy;1995-2014 中国上海久富科技有限公司
		div.text-center
			h3
				i.fa.fa-paper-plane.fa-fw &nbsp;
				span CBMS
			span Consulting Business Management System
		div
			h5
				a.cursor-pointer 相关产品展示
			h5 联系方式
				a.cursor-pointer.margin10.h-only
					i.fa.fa-qq.fa-fw &nbsp;
					span 1234567890
				a.cursor-pointer.margin10.h-only
					i.fa.fa-weibo.fa-fw &nbsp;
					span fantasybohua
