//Created by bli on 2014/5/13.
fieldset(keyboard-support)
	div(ng-show="dialog_data_model.handling == 0")
		span.item-title 咨询解答 (邮件/电话)
		comment.text-muted.margin15 Reply
		div.expandable-section
			div.row
				div.span4
					label 解答方式
					div.input-control.checkbox
						label
							input(type="checkbox")
							span.check
							span 电子邮件
					div.input-control.checkbox
						label
							input(type="checkbox")
							span.check
							span 电话
					div.input-control.checkbox
						label
							input(type="checkbox")
							span.check
							span 面谈
					div.input-control.checkbox
						label
							input(type="checkbox")
							span.check
							span 传真
				div.span2
					label 咨询人
					div.input-control.text
						input(type="text", placeholder="咨询人")
				div.span2
					label 答复人
					div.input-control.text
						input(type="text", placeholder="答复人")
				div.span2
					label 翻译人
					div.input-control.text
						input(type="text", placeholder="翻译人")

	div(ng-show="dialog_data_model.handling != 0")
		span.item-title 咨询解答 (面谈)
		comment.text-muted.margin15 Reply
		div.expandable-section
			div.row
				div.span10
					label 面谈地址
					div.input-control.radio.default-style.span1
						label
							input(type="radio", name="r1", ng-model="address_type", value="0")
							span.check
							span JKH
					div.input-control.radio.default-style.span1
						label
							input(type="radio", name="r1", ng-model="address_type", value="1")
							span.check
							span 其它
					div.input.input-control.text.span8
						input(type="text", placeholder="详细地址", ng-disabled="address_type == 0")
			div.row
				div.span5
					label 我方人员
					div.input-control.text
						input(type="text", placeholder="我方人员")
				div.span5
					label 客户人员
					div.input-control.text
						input(type="text", placeholder="客户人员")

	span.item-title 过程记录
	comment.text-muted.margin15 Minutes of Meeting
	div.expandable-section
		div.row
			div.span10
				label 咨询事项
				div.input-control.textarea
					textarea(placeholder="咨询事项")
		div.row
			div.span10
				label 解答回复
				div.input-control.textarea
					textarea(placeholder="解答回复")
		div.row
			div.span10
				label 法律依据
				div.input-control.textarea
					textarea(placeholder="法律依据")

	span.item-title 附件列表
	comment.text-muted.margin15 Minutes of Meeting
	div.expandable-section
		div.row
			div.span10
				label 所属附件
				table.table.bordered
					thead
						tr
							th 名称
							th 文件名
							th 操作
					tbody
						tr
							td 宪法章程
							td Xianfazhangcheng.docx
							td.toolbar.transparent
								button
									i.icon-download 下载
								button
									i.icon-remove 删除
		div.row
			div.span5
				label 上传附件
				div.input-control.file
					input(type="file")
					button.btn-file
			button.upload-button(ng-click="uploadAttachment")
				i.icon-upload-3
				span 上传
