
<!--Created by Bli on 2014/4/28.-->
<div id="employee-list-view">
  <div class="page-header">
    <h2><i class="fa fa-edit fa-fw">&nbsp;</i><span>人员信息 &nbsp;</span><small class="hidden-xs">Employees</small>
      <button popup-dialog="popup-dialog" dialog-config="employeeEditorConfig" ng-click="newEmployee($event)" class="btn btn-default pull-right"><i class="fa fa-edit fa-fw">&nbsp;</i><span>新建</span></button>
      <div class="pull-right col-md-3 col-lg-3 col-sm-3 hidden-xs">
        <div class="input-group">
          <input type="text" placeholder="查找人员" ng-model="searchText" class="form-control"/><span class="input-group-btn">
            <button class="btn btn-default"><i class="fa fa-search"></i></button></span>
        </div>
      </div>
    </h2>
  </div>
  <div class="page-content">
    <div class="panel panel-default">
      <div class="panel-heading cursor-pointer">
        <h4 data-toggle="collapse" href="#employee-list-panel" class="no-margin">人员列表 &nbsp;<small class="hidden-xs">Employee List</small></h4>
      </div>
      <div id="employee-list-panel" class="panel-collapse collapse in table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th ng-repeat="header in headers track by $index" nowrap="nowrap" class="text-center">
                <t>{{header}}</t>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in employee_list | filter:searchText" popup-dialog="popup-dialog" dialog-config="employeeEditorConfig" ng-click="detail($event, row)" on-confirm="confirmEmitted(action, data)" class="cursor-pointer">
              <td>{{row.name}}</td>
              <td>{{row.role}}</td>
              <td>{{row.tel}}</td>
              <td>{{row.mobile}}</td>
              <td>{{row.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>