
<!--Created by Bli on 2014/4/28.-->
<div class="view-header"><i ng-click="getBack()" class="icon-arrow-left-3 view-header-icon"></i><span class="subheader">员工信息</span>
  <comment class="text-muted margin20">Employee Information</comment>
  <div class="place-right">
    <button popup-dialog="popup-dialog" dialog-config="employeeEditorConfig" ng-click="new($event, {})" on-confirm="confirmEmitted(action, data)" class="hint--bottom"><i class="icon-new"></i><span>新建</span></button>
  </div>
  <div class="view-header-control-search-box place-right margin5">
    <div class="input-control text">
      <input type="text" placeholder="查找员工" ng-model="searchText"/>
      <button tabindex="-1" class="btn-search"></button>
    </div>
  </div>
</div>
<div id="customer-list" class="grid view-form-sheet">
  <table class="table bordered hovered">
    <thead>
      <tr>
        <th ng-repeat="header in headers track by $index" nowrap="nowrap" class="text-center">
          <t>{{header}}</t>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in employee_list | filter:searchText" popup-dialog="popup-dialog" dialog-config="employeeEditorConfig" ng-click="detail($event, row)" on-confirm="confirmEmitted(action, data)" class="cursor-pointer">
        <td>{{row.name}}</td>
        <td>{{row.role}}</td>
        <td>{{row.tel}}</td>
        <td>{{row.mobile}}</td>
        <td>{{row.email}}</td>
      </tr>
    </tbody>
  </table>
</div>