//Created by Bohua on 2014-05-29.
div.container-fluid(ng-controller="replySectionController")
	div.page-header.row
		h2
			i.fa.fa-fw(ng-class="{'fa-comments-o': task_model.handling==1, 'fa-envelope': task_model.handling==0}") &nbsp;
			span(ng-if="task_model.handling==0")  回复 &nbsp;
			span(ng-if="task_model.handling==1")  面谈 &nbsp;
			small.hidden-xs Reply
			div.btn-group.pull-right
				button.btn.btn-default(ng-if="canEdit",popup-dialog,dialog-config="replyEditorConfig",ng-click="showReplyEditor($event, {}, 'new')",on-confirm="onReplySaved(action, data)")
					i.fa.fa-edit.fa-fw &nbsp;
					span 新增
				button.btn.btn-default(ng-if="canEdit",popup-dialog,dialog-config="appointmentEditorConfig",ng-click="showAppointmentEditor($event, getAppointmentModel())",on-confirm="onAppointmentSaved(action, data)")
					i.fa.fa-calendar-o.fa-fw &nbsp;
					span 预约

	#reply-panel-group.panel-group.row
		div.panel.panel-default(ng-show="task_model.handling == 0")
			div.panel-heading.cursor-pointer
				h4.no-margin(data-toggle="collapse", href="#reply-info-panel-0-reply") 回复解答 &nbsp;
					small.hidden-xs Reply
			#reply-info-panel-0-reply.panel-collapse.collapse.in.table-responsive
				table.table.table-hover.table-bordered
					thead
						tr
							th 解答日期
							th 解答方式
							th 答复人
							th 咨询人
							th 附件
					tbody
						tr.cursor-pointer(ng-repeat="sub_item in task_model.replySheet.subItem", popup-dialog,dialog-config="replyEditorConfig",ng-click="showReplyEditor($event, sub_item, 'edit')",on-confirm="onReplySaved(action, data)")
							td {{sub_item.reply_date | date:'yyyy-MM-dd'}}
							td
								span(ng-show="sub_item.reply_withEmail") 电子邮件&nbsp;
								span(ng-show="sub_item.reply_withTel") 电话&nbsp;
								span(ng-show="sub_item.reply_withFax") 传真&nbsp;

								span(ng-show="sub_item.reply_withF2F") 面谈&nbsp;

							td
								span(ng-if="sub_item.reply_withF2F") {{sub_item.meeting_people_A}}
								span(ng-if="!sub_item.reply_withF2F") {{sub_item.reply_person}}
							td
								span(ng-if="sub_item.reply_withF2F") {{sub_item.meeting_people_B}}
								span(ng-if="!sub_item.reply_withF2F") {{sub_item.consult_person}}
							td.attachment-td
								a.attachment-token.label.cursor-pointer(ng-repeat="attach in sub_item.attachment", download="{{attach.file_name}}", ng-href="file-download/{{attach.file_url}}")
									i.fa.text-info.fa-fw(class="{{translateFileType(attach.file_ext).icon}}") &nbsp;
									span {{attach.file_name}}

		div.panel.panel-default(ng-show="task_model.handling == 1")
			div.panel-heading.cursor-pointer
				h4.no-margin(data-toggle="collapse", href="#reply-info-panel-1") 提案解答 &nbsp;
					small.hidden-xs Reply
			#reply-info-panel-1.panel-collapse.collapse.in.table-responsive
				table.table.table-hover.table-bordered
					thead
						tr
							th 解答日期
							th 面谈地址
							th 我方人员
							th 客户人员
							th 附件
					tbody
						tr.cursor-pointer(ng-repeat="sub_item in task_model.replySheet.subItem", popup-dialog,dialog-config="replyEditorConfig",ng-click="showReplyEditor($event, sub_item, 'edit')",on-confirm="onReplySaved(action, data)")
							td {{sub_item.reply_date | date:'yyyy-MM-dd'}}
							td {{sub_item.meeting_address}}
							td {{sub_item.meeting_people_A}}
							td {{sub_item.meeting_people_B}}
							td.attachment-td
								a.attachment-token.label.cursor-pointer(ng-repeat="attach in sub_item.attachment", download="{{attach.file_name}}", ng-href="file-download/{{attach.file_url}}")
									i.fa.text-info.fa-fw(class="{{translateFileType(attach.file_ext).icon}}") &nbsp;
									span {{attach.file_name}}