//Created by Bohua on 2014-05-29.
div.container-fluid(ng-controller="accountSectionController")
	div.page-header.row
		h2
			i.fa.fa-bank.fa-fw &nbsp;
			span 收款 &nbsp;
			small.hidden-xs Accounting
			div.btn-group.pull-right
				button.btn.btn-default(ng-if="canEdit",popup-dialog,dialog-config="detailEditorConfig",ng-click="showDetailEditor($event, getDetailModel())",on-confirm="onDetailSaved(action, data)")
					i.fa.fa-list-alt.fa-fw &nbsp;
					span 明细
				button.btn.btn-default(ng-if="canEdit",popup-dialog,dialog-config="reminderEditorConfig",ng-click="showReminderEditor($event, getReminderModel())",on-confirm="onReminderSaved(action, data)")
					i.fa.fa-bullhorn.fa-fw &nbsp;
					span 催款
				button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
					i.fa.fa-cog.fa-fw &nbsp;
					span 功能
					span.caret
				ul.dropdown-menu
					li
						a
							i.fa.fa-print.fa-fw &nbsp;
							span 打印


	#account-panel-group.panel-group.row
		div.panel.panel-default
			div.panel-heading.cursor-pointer
				h4.no-margin(data-toggle="collapse", href="#account-details-panel") 收款明细 &nbsp;
					small.hidden-xs Accounting Details
			#account-details-panel.panel-collapse.collapse.in.table-responsive
				table.table.table-hover.table-bordered
					thead
						tr
							th 到款时间
							th 到款金额
							th 到款方式
							th 到款说明
							th 附件
					tbody
						tr(ng-repeat="sub_item in task_model.accountSheet.subItem")
							td {{sub_item.account_date | date:'yyyy-MM-dd'}}
							td {{sub_item.account_expense}}
							td {{sub_item.account_method}}
							td {{sub_item.account_desc}}
							td
								a.attachment-token.label.cursor-pointer(ng-repeat="attach in sub_item.attachment", download="attach.file_name", ng-href="file-download/{{attach.file_url}}?givenName={{attach.file_name}}")
									i.fa.text-info.fa-fw(class="{{translateFileType(attach.file_ext).icon}}") &nbsp;
									span {{attach.file_name}}
