//Created by Bohua on 2014-06-29.
#queryer-view.container-fluid
	div.page-header
		h2
			i.fa.fa-search.fa-fw &nbsp;
			span 查询 &nbsp;
			small.hidden-xs Query

			button.btn.btn-default.pull-right(ng-click="startQuery()")
				i.fa.fa-search.fa-fw &nbsp;
				span 开始查询


	div.page-content
		div.panel.panel-default
			div.panel-heading.cursor-pointer
				h4.no-margin(data-toggle="collapse", href="#queryer-condition-panel") 查询条件 &nbsp;
					small.hidden-xs Query Condition
			#queryer-condition-panel.panel-collapse.collapse.in.panel-body(ng-include="conditionTpl")

		div.panel.panel-default
			div.panel-heading.cursor-pointer
				h4.no-margin(data-toggle="collapse", href="#queryer-result-panel") 查询结果列表 &nbsp;
					small.hidden-xs Query Result
			#queryer-result-panel.panel-collapse.collapse.in.table-responsive(ng-include="resultTpl")