//Created by Bohua on 2014-05-29.
div.page-header
	h2
		i.fa.fa-history.fa-fw &nbsp;
		span 执行 &nbsp;
		small Executing
		div.btn-group.pull-right
			button.btn.btn-default
				i.fa.fa-edit.fa-fw &nbsp;
				span 修改

#execute-panel-group.panel-group
	div.panel.panel-default
		div.panel-heading.cursor-pointer
			h4.no-margin(data-toggle="collapse", href="#execute-project-panel") 项目信息 &nbsp;
				small Project Information
		#execute-project-panel.panel-collapse.collapse.in.table-responsive
			div.flex-container.panel-body
				div.flex-box
					label 项目负责人:
					span {{task_model.executeSheet.project_manager}}
				div.flex-box
					label 项目执行人:
					span {{task_model.executeSheet.project_runner}}
				div.flex-box
					label 项目名称:
					span {{task_model.executeSheet.project_topic}}
			table.table.table-hover
				thead
					tr
						th 执行日期
						th 执行人
						th 执行情况
						th 附件
				tbody
					tr(ng-repeat="sub_item in task_model.executeSheet.subItem")
						td {{sub_item.execute_date | date:'yyyy-MM-dd'}}
						td {{sub_item.execute_runner}}
						td {{sub_item.execute_digest}}
						td
							div.attachment-token.label.cursor-pointer(ng-repeat="attach in sub_item.attachment")
								i.icon-file-excel
								span {{attach.file_name}}
