//Created by Bohua on 2014-05-29.
div.container-fluid(ng-controller="executeSectionController")
	div.page-header.row
		h2
			i.fa.fa-history.fa-fw &nbsp;
			span 执行 &nbsp;
			small.hidden-xs Executing
			div.btn-group.pull-right
				button.btn.btn-default(popup-dialog,dialog-config="executeEditorConfig",ng-click="showExecuteEditor($event, getExecuteModel())",on-confirm="onExecuteSaved(action, data)")
					i.fa.fa-edit.fa-fw &nbsp;
					span 修改
				button.btn.btn-default(popup-dialog,dialog-config="detailEditorConfig",ng-click="showDetailEditor($event, getDetailModel())",on-confirm="onDetailSaved(action, data)")
					i.fa.fa-list-alt.fa-fw &nbsp;
					span 明细
				button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
					i.fa.fa-cog.fa-fw &nbsp;
					span 功能
					span.caret
				ul.dropdown-menu
					li
						a
							i.fa.fa-print.fa-fw &nbsp;
							span 打印

	#execute-panel-group.panel-group.row
		div.panel.panel-default
			div.panel-heading.cursor-pointer
				h4.no-margin(data-toggle="collapse", href="#execute-project-panel") 项目信息 &nbsp;
					small.hidden-xs Project Information
			#execute-project-panel.panel-collapse.collapse.in.table-responsive
				div.flex-container.panel-body
					div.flex-box
						label 项目负责人:
						span {{task_model.executeSheet.project_manager}}
					div.flex-box
						label 项目执行人:
						span {{task_model.executeSheet.project_runner}}
					div.flex-box
						label 项目名称:
						span {{task_model.executeSheet.project_topic}}
				table.table.table-hover.table-bordered
					thead
						tr
							th 执行日期
							th 执行人
							th 执行情况
							th 附件
					tbody
						tr(ng-repeat="sub_item in task_model.executeSheet.subItem")
							td {{sub_item.execute_date | date:'yyyy-MM-dd'}}
							td {{sub_item.execute_runner}}
							td {{sub_item.execute_digest}}
							td
								a.attachment-token.label.cursor-pointer(ng-repeat="attach in sub_item.attachment", download="attach.file_name", ng-href="file-download/{{attach.file_url}}")
									i.fa.text-info.fa-fw(class="{{translateFileType(attach.file_ext).icon}}") &nbsp;
									span {{attach.file_name}}